<div class="line_animate">
<div [@line]="line"></div>
</div>
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>In</b>ova</span>
            <!--&lt;!&ndash; logo for regular state and mobile devices &ndash;&gt;-->
            <div [routerLink]="['/dashboard']" class="logo-lg" id="wrapper">
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
                <div class="text">IMirror</div>
            </div>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                <i class="fa fa-bars"></i>
            </button>
            <div class="dropdown pull-right user_name">
                <span class="reflection">{{name}}</span>
                <span data-toggle="dropdown" class="glyphicon glyphicon-menu-down user_drop"></span>
                <ul class="dropdown-menu user_settings">
                    <li>
                        <a [routerLink]="['/signup']"><i class="fa fa-id-badge" aria-hidden="true"></i>
                            Profile</a></li>
                    <li><a (click)="onLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i> LogOut</a></li>
                </ul>
                {{user_info()}}
            </div>


        </nav>


    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->

            <!-- sidebar menu: : style can be found in sidebar.less -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{{image}}" class="img-circle" alt=".">
                </div>
                <div class="pull-left info">
                    <p>{{role_name}}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <ul class="list-unstyled components">
                <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/dashboard']" (click)="line_show('Dashboard')">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Dashboard
                    </a>
                </li>
                <li [routerLinkActive]="['active']" *ngIf="user_type === 'administrator' || user_type === 'editor'">
                    <a [routerLink]="['/components/users']" (click)="line_show('Users')">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        Users
                    </a>
                </li>
                <li [routerLinkActive]="['active']" *ngIf="user_type === 'administrator'">
                    <a [routerLink]="['/components/language']" (click)="line_show('Languages')">
                        <i class="fa fa-language"></i>
                        Languages
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a [routerLink]="['/components/images']" (click)="line_show('Images')"
                       [routerLinkActive]="['active']">
                        <i class="fa fa-file-image-o"></i>
                        Images
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a href="#makup" data-toggle="collapse" aria-expanded="false" class="collapsed">
                        <i class="fa fa-object-ungroup" aria-hidden="true"></i>
                        Makeup Management
                    </a>


                    <ul class="list-unstyled collapse" id="makup" aria-expanded="false" style="height: 0px;">
                        <li [routerLinkActive]="['active']">
                            <a [routerLink]="['/components/makeup']" (click)="line_show('Makeup')">
                                <i class="fa fa-code-fork" aria-hidden="true"></i>
                                Makeup Methods
                            </a>
                        </li>
                        <li>
                            <a href="#homeSubmenu" id="product_menu" data-toggle="collapse" aria-expanded="false"
                               class="collapsed">
                                <i class="fa fa-opencart" aria-hidden="true"></i>
                                Product Management
                            </a>
                            <ul class="list-unstyled collapse" id="homeSubmenu" aria-expanded="false"
                                style="height: 0px;">
                                <li [routerLinkActive]="['active']">
                                    <a [routerLink]="['/components/products']" (click)="line_show('Products')">
                                        <i class="fa  fa-shopping-cart"></i>
                                        Products
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active']">
                                    <a [routerLink]="['/components/categories']" (click)="line_show('Categories')">
                                        <i class="fa  fa-list-alt"></i>
                                        Categories
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active']">
                                    <a [routerLink]="['/components/brands']" (click)="line_show('Brands')">
                                        <i class="fa fa-btc"></i>
                                        Brands
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active']">
                                    <a [routerLink]="['/components/sessions']" (click)="line_show('Sessions')">
                                        <i class="fa fa-film"></i>
                                        Sessions
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active']">
                                    <a [routerLink]="['/components/playLists']" (click)="line_show('PlayList')">
                                        <i class="fa fa-play-circle"></i>
                                        PlayList
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active']">
                                    <a [routerLink]="['/components/videos']" (click)="line_show('Videos')">
                                        <i class="fa fa-video-camera"></i>
                                        Videos
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="collapsed">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                Style Management
                            </a>
                            <ul class="list-unstyled collapse" id="homeSubmenu3" aria-expanded="false"
                                style="height: 0px;">
                                <li [routerLinkActive]="['active']">
                                    <a [routerLink]="['/components/style']" (click)="line_show('Styles')">
                                        <i class="fa fa-smile-o"></i>
                                        Styles
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active']">
                                    <a [routerLink]="['/components/style-sessions']" (click)="line_show('Sessions')">
                                        <i class="fa fa-film"></i>
                                        Sessions
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active']">
                                    <a [routerLink]="['/components/style-playlist']" (click)="line_show('Playlist')">
                                        <i class="fa  fa-play-circle"></i>
                                        Playlist
                                    </a>
                                </li>
                                <li [routerLinkActive]="['active']">
                                    <a [routerLink]="['/components/style-video']" (click)="line_show('Videos')">
                                        <i class="fa fa-file-movie-o"></i>
                                        Videos
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li [routerLinkActive]="['active']">
                    <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="collapsed">
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                        Devices Management
                    </a>
                    <ul class="list-unstyled collapse" id="homeSubmenu2" aria-expanded="false" style="height: 0px;">
                        <li [routerLinkActive]="['active']">
                            <a [routerLink]="['/components/devices']" (click)="line_show('Devices')">
                                <i class="fa  fa-tv"></i>
                                Devices
                            </a>
                        </li>
                        <li [routerLinkActive]="['active']"><a [routerLink]="['/components/deviceconfig']" (click)="line_show('Device Config')">
                            <i class="fa fa-cog"></i>
                            Device Config
                        </a>
                        </li>
                        <li [routerLinkActive]="['active']"
                            *ngIf="user_type === 'administrator' || user_type === 'editor'">
                            <a [routerLink]="['/components/deviceupdatedataversion']" (click)="line_show('Devices update')">
                                <i class="fa fa-exchange"></i>
                                Devices update
                            </a>
                        </li>
                        <li [routerLinkActive]="['active']">
                            <a [routerLink]="['/components/labels']" (click)="line_show('Labels')">
                                <i class="fa fa-text-width"></i>
                                Labels
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>

        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content">

            <router-outlet></router-outlet>


        </section>
        <!-- /.content -->
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
        </div>
        <strong>Copyright &copy;2018</strong>
    </footer>
</div>

<!--<div class="modal fade" id="myModal" role="dialog">-->
    <!--<div class="modal-dialog">-->

        <!--&lt;!&ndash; Modal content&ndash;&gt;-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                <!--<h4 class="modal-title">Modal Header</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<p>Some text in the modal.</p>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->