<div *ngIf="user === undefined" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="user">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li>Profile</li>
                    </ol>
                </div>
                <div class="box-body">
                    <div class="register_block">
                        <div [@degriss]="degriss" class="alert alert-success col-md-12">
                            {{message}}
                        </div>
                        <div class="col-md-12">
                            <img src="{{user.image}}" alt="" class="imag_user_size"/>
                            <div class="input_vew_margin form-group row">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn viw_Info_button disabled">Name</button>
                                    </div>
                                    <input disabled class="form-control form-control-sm" type="text"
                                           value="{{user.name}}">
                                </div>
                            </div>
                            <div class="input_vew_margin form-group row">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn viw_Info_button disabled">Email</button>
                                    </div>
                                    <input disabled class="form-control form-control-sm" type="text"
                                           value="{{user.email}}">
                                </div>
                            </div>
                            <div class="input_vew_margin form-group row">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn viw_Info_button disabled">Role</button>
                                    </div>
                                    <input disabled class="form-control form-control-sm" type="text"
                                           value="{{user.role_label}}">
                                </div>
                            </div>
                            <div class="input_vew_margin form-group row">

                                    <div class="button_block">
                                        <button (click)="openModal()" type="button" class="btn btn-primary button_style"
                                                data-toggle="modal" data-target="#myModal">Edit
                                        </button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" *ngIf="user">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit Profile</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->

            <div class="modal-body">
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <form #form="ngForm" (ngSubmit)="onSumbit(form.value)">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input
                                type="text"
                                class="form-control"
                                id="name"
                                [value]="user.name"
                                name="name"
                                #name="ngModel"
                                required
                                [(ngModel)]="user.name"
                                minlength="3"
                                pattern="^[A-Za-z-_\s]+$"
                                autocomplete="off"
                        >
                        <span *ngIf="name.invalid && (name.dirty || name.touched)">

          <span class="text-danger" *ngIf="name.errors.required">
            Name is required.
          </span>
          <span class="text-danger" *ngIf="name.errors.pattern">
            Invalid name
          </span>
          <span class="text-danger" *ngIf="name.errors.minlength">
            Invalid Name length (min 3 symbol)
          </span>
        </span>
                    </div>
                    <img src="{{img_path}}" *ngIf="this.img_path !== ''" style="max-width: 150px">
                    <img src="{{user.image}}" *ngIf="this.img_path === ''" style="max-width: 150px">
                    <div class="form-group">
                        <label for="selectFile">Image</label>
                        <input
                                type="file"
                                id="selectFile"
                                name="selectFile"
                                class="form-control"
                                required
                                #addimage
                                (change)="onImageChangeFromFile($event)"
                        >
                        <span class="text-danger"
                              *ngIf="fileEditImage === false">Image file type is not valid</span>
                        <span class="text-danger" *ngIf="fileSize === false">Max size 1mb</span>
                    </div>
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input
                                type="password"
                                class="form-control"
                                id="password"
                                name="password"
                                #password="ngModel"
                                [(ngModel)]="password.value"
                                autocomplete="off"
                                minlength="6"
                                maxlength="32"
                        >
                        <span *ngIf="password.invalid && (password.dirty || password.touched)">
          <span class="text-danger" *ngIf="password.errors.minlength">
            Invalid password length (min 6 symbol)
          </span>
        </span>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm password</label>
                        <input
                                type="password"
                                class="form-control"
                                id="confirm_password"
                                name="confirm_password"
                                #confirm_password="ngModel"
                                [(ngModel)]="confirm_password.value"
                                autocomplete="off"
                                minlength="6"
                                maxlength="32"

                        >
                        <span *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)">
          <span class="text-danger" *ngIf="confirm_password.errors.minlength">
            Invalid password length (min 6 symbol)
          </span>
        </span>
                        <p *ngIf="password.value !== confirm_password.value" class="text-danger">
                            Passwords don`t match
                        </p>
                    </div>
                    <div class="button_block">
                        <button [disabled]="form.invalid || (confirm_password.value !== password.value) || recuared_image == -1"
                                type="submit" class="btn save btn-success button_style">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>