/*
 *   custom.css
 */

.fa-remove:before, .fa-close:before, .fa-times:before {
  color: #FF0F2F;
  cursor: pointer;
}

.fa-eye:before {
  color: #17A2B8;
  cursor: pointer;
}

.fa-pencil:before {
  color: #3a9d5d;
  cursor: pointer;
}

.logout {
  cursor: pointer;
}

.user_name > span {
  padding-top: 10px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.2em;
  font-style: oblique;
}

.user_settings {
  margin-top: 13px !important;
}

.user_name:first-child ul li:hover {
  background-color: transparent;
}

.activeData {
  width: 15px;
  height: 15px;
  background: green;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.isActiveData {
  width: 15px;
  height: 15px;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.pagination > li > a {
  cursor: pointer;
}

.image {
  max-width: 100%;
  margin-bottom: 10px;
}

.language_flag_en {
  width: 29px;
  float: right;
  margin-right: 15px;
}

.language_flag_ru {
  width: 29px;
  float: right;
  margin-right: 15px;
}

.language_icon {
  width: 25px;
  float: right;
  margin-right: 7px;
  cursor: pointer;
  height: 16px;
}

#exTab1 .tab-content {
  color: white;
  background-color: #428bca;
  padding: 5px 15px;
}

.nav-pills li {
  padding: 10px;
  border: 1px solid #8c8c8c;
  margin: 2px;
}

.cssload-thecube {
  width: 73px;
  height: 73px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}

.cssload-thecubemodal {
  width: 73px;
  height: 73px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative !important;
  top: 0;
  left: 0;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
  position: relative;
  transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
}

.cssload-thecube .cssload-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

.cssload-thecube .cssload-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(43, 160, 199);
  animation: cssload-fold-thecube 2.76s infinite linear both;
  -o-animation: cssload-fold-thecube 2.76s infinite linear both;
  -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
  -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
  -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
  transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
}

.cssload-thecube .cssload-c2 {
  transform: scale(1.1) rotateZ(90deg);
  -o-transform: scale(1.1) rotateZ(90deg);
  -ms-transform: scale(1.1) rotateZ(90deg);
  -webkit-transform: scale(1.1) rotateZ(90deg);
  -moz-transform: scale(1.1) rotateZ(90deg);
}

.cssload-thecube .cssload-c3 {
  transform: scale(1.1) rotateZ(180deg);
  -o-transform: scale(1.1) rotateZ(180deg);
  -ms-transform: scale(1.1) rotateZ(180deg);
  -webkit-transform: scale(1.1) rotateZ(180deg);
  -moz-transform: scale(1.1) rotateZ(180deg);
}

.cssload-thecube .cssload-c4 {
  transform: scale(1.1) rotateZ(270deg);
  -o-transform: scale(1.1) rotateZ(270deg);
  -ms-transform: scale(1.1) rotateZ(270deg);
  -webkit-transform: scale(1.1) rotateZ(270deg);
  -moz-transform: scale(1.1) rotateZ(270deg);
}

.cssload-thecube .cssload-c2:before {
  animation-delay: 0.35s;
  -o-animation-delay: 0.35s;
  -ms-animation-delay: 0.35s;
  -webkit-animation-delay: 0.35s;
  -moz-animation-delay: 0.35s;
}

.cssload-thecube .cssload-c3:before {
  animation-delay: 0.69s;
  -o-animation-delay: 0.69s;
  -ms-animation-delay: 0.69s;
  -webkit-animation-delay: 0.69s;
  -moz-animation-delay: 0.69s;
}

.cssload-thecube .cssload-c4:before {
  animation-delay: 1.04s;
  -o-animation-delay: 1.04s;
  -ms-animation-delay: 1.04s;
  -webkit-animation-delay: 1.04s;
  -moz-animation-delay: 1.04s;
}

@keyframes cssload-fold-thecube {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-o-keyframes cssload-fold-thecube {
  0%, 10% {
    -o-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -o-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -o-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-ms-keyframes cssload-fold-thecube {
  0%, 10% {
    -ms-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -ms-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -ms-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-webkit-keyframes cssload-fold-thecube {
  0%, 10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

@-moz-keyframes cssload-fold-thecube {
  0%, 10% {
    -moz-transform: perspective(136px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -moz-transform: perspective(136px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -moz-transform: perspective(136px) rotateY(180deg);
    opacity: 0;
  }
}

.card-header {
  padding: 5px 0px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.modal-title {
  display: inline-block;
}

.card-body {
  margin-top: 10px;
}

.dropup, .dropdown {
  z-index: 1050;
  right: 0;
  top: 0;
}

.dropdown-menu {
  right: 0px !important;
  left: -130px !important;
}

.dropdown-menu li a {
  cursor: pointer;
}

.fa-align-right {
  cursor: pointer;
  color: #fff;
  font-size: 22px;
  margin-right: 10px;
  margin-top: 13px;
}

.login-background {
  background: url("../assets/images/askwallpapers.com-49885.jpg") no-repeat;
  width: 100%;
  background-position: top center;
  height: 100vh;
  position: relative;
  background-size: 100% 100%;
}

.form-block {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  max-width: 400px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  max-height: 270px;
}

.login_form {
  width: 75% !important;
  margin: 0 auto !important;
}

.login_title {
  color: #cccccc;
  margin-top: 5px;
}

.alert_login {
  border: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  margin-bottom: 0px !important;
}

.error_block {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.error404 {
  border: 1px solid;
  background-color: #337ab7;
  color: white;
}

.login_imirror {
  background: url('../assets/images/logo.png') no-repeat;
  width: 200px;
  min-height: 150px;
  background-size: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: 18px auto;
}

.register_block {
  max-width: 350px;
}
.border-true {
  border: 2px solid red;
}

.border-false {
  border: 2px solid transparent;
}

.ui-select-container {
  position: relative !important;
}

.ui-select-choices {
  position: relative !important;
  left: 0 !important;
}

.loading {
  position: fixed;
  z-index: 5555555555;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}

.treeview {
  cursor: pointer !important;
}

.viewImage {
  position: absolute;
  top: 33%;
  left: 47%;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.editimages {
  position: absolute;
  top: 30px;
  right: 25px;
  font-size: 20px;
}

.deleteimage {
  position: absolute;
  top: 2px;
  right: 25px;
  font-size: 20px;
}

a.back-to-top {
  position: fixed;
  bottom: 17px;
  z-index: 99999;
  right: 25px;
  font-size: 20px;
}

.cursor-pointer {
  cursor: pointer !important;
}

#list {
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}

.icons_block {
  list-style: none;
  padding-left: 5px;
}

.icons_block li {
  display: inline-block;
  padding-left: 7px;
}

.icons_block li:first-child {
  padding-left: 0px;
}

.video_size {
  width: 100%;
}

.image_height {
  height: 275px !important;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .image_height {
    height: 225px !important;
  }
}

.selectdevice {
  display: inline-flex;
}

.create {
  display: none;
  margin-left: 10px;
}

.configalert {
  display: none;
  margin: 20px 0;
}

.configalertdelete {
  margin: 20px 0;
}

.sort_icon {
  cursor: pointer;
  opacity: 0.5;
}

.refresh_button {
  float: right;
}

.no_result {
  font-size: 17px;
  vertical-align: middle;
  color: #f7fafd;
  margin-bottom: 0;
}
.no_result > span {
  color: #ffffff !important;
  cursor: pointer;
  padding: 4px 29px;
  background-color: #0b900b;
  border-radius: 5px;
  float: right;
  font-size: 14px;
}
.no_result_div {
  margin-top: 10px;
}

.position {
  position: relative;
}

.position h2 {
  display: inline-block;
  margin: 0px;
}

.absolute {
  position: absolute;
  top: 0px;
  right: 4px;
  z-index: 555;
}

.play_list_icon {
  position: absolute;
  top: 0;
  font-size: 25px;
  z-index: 22;
  color: #fff;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: #000;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.play_icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 25px;
  z-index: 22;
  color: #fff;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: #000;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.play_icon_video {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  z-index: 22;
  color: #fff;
  width: 10px;
  height: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image_size {
  width: 37px;
  height: 37px;
}

.status_block {
  margin: auto;
}

.sessionName {
  font-size: 20px;
  margin: 10px;
}

.product_image {
  height: 114px !important;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .product_image {
    height: 225px !important;
  }
}

.panel-heading .accordion-toggle:after {
  font-family: 'Glyphicons Halflings';
  content: "\E114";
  float: right;
  color: #f1f1f1;
  font-size: 10px;
}

.panel-heading .accordion-toggle.collapsed:after {
  content: "\e080";
}

.product_video {
  width: 100%;
  height: 202px;
}

.sessiondescr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectdevice select {
  width: 500px;
}

.selectdevice button {
  margin-left: 10px;
  padding: 5px 25px;
}

.user_edit_block {
  border-radius: 6px;
  background-color: #ededed;
  padding: 10px;
  overflow: hidden;
  border-right: 1px;
  border: 1px solid #c1c1c1;
  margin: 15px;
}

.button_style {
  overflow: hidden;
  float: right;
  padding: 6px 30px;
}

.imag_user_size {
  max-width: 100%;
}

.verical_align {
  vertical-align: middle !important;
}

.user_prof_img {
  width: 39px;
  height: 39px;
  border-radius: 19px !important;
  cursor: pointer;
}

.userInfo {
  height: 50px;
  padding: 5px;
}

.userInfo > img:hover {
  -webkit-box-shadow: inset 1px 0px 28px 12px rgba(87, 75, 87, 0.67);
  -moz-box-shadow: inset 1px 0px 28px 12px rgba(87, 75, 87, 0.67);
  box-shadow: inset 1px 0px 28px 12px rgba(87, 75, 87, 0.67);;
}

.user_drop {
  float: right;
  margin-right: 18px;
  cursor: pointer;
  color: #ffffff;
  display: initial;
  padding-top: 0px;
  top: -26px;
}

.send_button {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.send_button button {
  padding: 6px 35px;
}

.danger_text {
  background-color: #eea236;
  padding: 10px 0px;
  border-radius: 3px;
  color: #fff;
  font-style: oblique;
}

.danger_text h1 {
  margin: 20px 0px;
}

.session_name {
  margin: 10px 0px;
  font-size: 22px;
}

.session_desc {
  margin: 10px 0px;
}

.viewSession {
  margin-top: 10px;
}

.search_device input {
  padding: 5px;
}

.search_device button {
  padding: 5px 30px;
}

.deviceupdatedate {
  margin-top: 20px;
}

.modal-danger {
  background-color: #d33724;
  border-bottom-color: transparent;
  border-top-color: transparent;
}

.modal-danger-body {
  background-color: #dd4b39;
}

.hover_tolltip {
  cursor: pointer;
}

.heading_info {
  background-color: rgba(255, 255, 255, .15) !important;
  -webkit-box-shadow: 0px 1px 0px 0px #45e2fb;
  box-shadow: 0px 1px 0px 0px #45e2fb;
}

.body_info {
  background-color: #fff !important;
}

.panel-title > a {
  display: block;
  font-size: 14px;
  color: #f8f9f9 !important;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
  border: 1px solid #ddd !important;
}

.panel-heading {
  background-color: #3b5458 !important;
}

.productdetalview > .active > .tab_button {
  background-color: #7f9ba2 !important;
  color: #fff !important;
}

.tab_button {
  font-size: 12px;
}

.body_info > .nav-tabs > li.active {
  border-top-color: #c2c2c2;
  border-top: 1px;
  border-radius: 2px;
}

.body_info > .nav-tabs > li {
  border-top: 3px solid transparent;
  margin-bottom: -2px;
  margin-right: 5px;
}

.nav-tabs > li.active {
  border-top-color: #3c8dbc;
  border-radius: 2px;
}

.nav-tabs > li {
  border-top: 3px solid transparent;
  margin-bottom: -2px;
  margin-right: 5px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent !important;
}

.body_info > .tab-content > .tab-pane > h4, .body_info > .tab-content > .tab-pane > ul > li > span > h4 {
  color: #777;
}

.selected {
  color: #075684;
  font-style: oblique;
  display: block;
  margin-top: 12px;
}

.tab_button {
  border: none !important;
}

.nav-tabs > li > a {
  color: #ffffff !important;
}

.nav > li > .productInfo:hover, .nav > li > .productInfo:active, .nav > li > .productInfo:focus {
  background-color: #13a5bd !important;
}

.nav-tabs > li > a {
  margin-right: 0;
}

.selectInfo {
  padding-left: 0;
  margin-bottom: 0;
}

.nav > li > a, .nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus {
  color: #000000 !important;
}

.h4_info {
  padding: 5px;
  color: #075684 !important;
  font-style: oblique;
  font-size: 14px;
}

.active_language {
  border: 1px solid #0a65c3 !important;
  padding: 0px;
  box-shadow: 0px 0px 9px 4px;
  color: #2486da;
}

.search_device input {
  padding: 5px;
}

.search_device button {
  padding: 5px 30px;
}

.deviceupdatedate {
  margin-top: 20px;
}

.updateaction {
  margin: 0 10px;
}

.infoupdate p {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.nav-tabs > li > a > img {
  width: 25px;
  margin-left: 5px;
}

.panel-default {
  border: 0px;
  border-bottom: 1px inset #00c0ef;
}

.nav-tabs > li > a {
  padding: 5px 15px !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  cursor: default;
  border: 1px solid #ddd !important;
  border-bottom-color: transparent !important;
  border-radius: 0;
}

.info {
  color: #fff;
  font-size: 12.5px;
  margin-right: 12px;
  margin-top: 8px;
}

.data-table {
  background: #ffffff;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  border-bottom-width: 2px !important;
}

.data-table > thead {
  background-color: #00c0ef;
}

.input-group-btn > .btn {
  padding: 6px 15px;
  width: 100px;
}

.box-body > form {
  margin: 0 0 10px 0;
}

.action > a > .fa {
  margin: 0 10px 0 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 17px;
  margin: 0;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.search {
  display: block;
  padding-top: 10px;
}

#search-toggle {
  display: none;
}

input {
  display: inline-block;
  border: 0;
  padding: 5px;
  height: 20px;
}

.search-open {
  border: 0;
  background: #44BBFF;
  color: white;
  padding: 0px;
  border-radius: 2px;
  vertical-align: middle;
}

.search-open i {
  padding: 8px;
}

.fa-chevron-circle-right {
  font-size: 35px;
  margin-left: 10px;
  color: #367fb9;
  cursor: pointer;
}

.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.column {
  padding: 0;
}

.column:last-child {
  padding-bottom: 60px;
}

.column::after {
  content: '';
  clear: both;
  display: block;
}

.column div {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  margin-left: 15px;
  padding: 0;
  margin-bottom: 45px;
}

.column div:first-child {
  margin-left: 15px;
}

.column div span {
  box-shadow: 5px 10px 18px #888888;
  border: 1px solid #081a36;
  background-color: #081a36;
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 0;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  transition: .3s ease-in-out;
  opacity: 0;
}

figure {
  display: flex;
  align-items: center;
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

figure:hover + span {
  bottom: 0px;
  opacity: 0.6;
}

.video_hover:hover + span {
  bottom: 0px;
  opacity: 0.6;
}

.arlicll span:hover {
  bottom: 0px;
  opacity: 0.9;
}

.arlicll span ul {
  margin: 0px;
}

.arlicll {
  margin-left: 10px;
  padding: 0;
  float: left;
  width: 32%;
  height: 177px;
  text-align: center;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  position: relative;
}

.image_size_tolltip {
  width: 250px;
}

.image_size_brand {
  max-width: 100px;
}

.form-group {
  margin-bottom: 10px !important;
}

.tooltipDiv > p {
  margin-bottom: 0;
}

.imgDiv {
  width: 157px !important;
}

.product_image {
  height: 150px !important;
}

.IssueLabel {
  height: 20px;
  padding: 3px 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
  background-color: #2cbe4e;
}

.IssueLabel > span {
  color: #ffffff;
}

.sidebar ul.components {
  padding: 20px 0;
}

.sidebar ul li a {
  padding: 10px;
  font-size: 14px;
  display: block;
}

.collapse.in {
  background: #2c3b41 !important;
}

.collapse.in li.active > a {
  color: #ffffff;
  border-left: none;
  background: transparent;
}

.collapse.in li.active > a > i {
  color: #3c8dbc;
}

.sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
}

.sidebar ul li > a:hover {
  color: #fff;
}

.sidebar ul li.active > a {
  border-left: solid 5px #3c8dbc;
  background: #1e282c;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e258';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.7em;
  margin-top: 4px;
}

a[aria-expanded="true"]::before {
  content: '\e259';
}

.sidebar-collapse ul li a {
  padding: 10px 10px;
  text-align: center;
  font-size: 0.85em;
}

.sidebar-collapse ul li a i {
  display: none;
}

.sidebar-collapse .main-sidebar {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

.sidebar-collapse a[aria-expanded="false"]::before, .sidebar-collapse a[aria-expanded="true"]::before {
  top: auto;
  bottom: 0;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebarCollapse, #sidebarCollapse:hover, #sidebarCollapse:focus {
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs {
  margin-bottom: 5px;
}

.clickable {
  cursor: pointer;
}

.panel-heading span {
  margin-top: -20px;
  font-size: 15px;
}

.panel-heading {
  cursor: pointer;
}

.tab_button:before, .accordion-toggle:before {
  display: none !important;
}

.style_table > tr > td > img {
  width: 100px;
}

.tooltip-inner {
  max-height: 150px !important;
  overflow: hidden !important;
}

html body #wrapper .text {
  cursor: default;
  position: absolute;
  height: 100%;
  width: 2000px;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #b8c7ce;
  left: 105px;
  transform: translate(-50%);
  letter-spacing: 10px;
  opacity: 0;
  cursor: pointer;
}
@media (max-width: 767px) {
  .sidebar-collapse .main-sidebar {
    display: none;
  }
}
@media (max-width: 768px) {
  html body #wrapper .text {
    display: block;
    left: 50%;
  }
  .input_width {
    max-width: 100% !important;
  }
  .scroll_table {
    overflow-x: scroll;
    width: 100%;
  }
  .selectdevice select,.selectdevice{
    width: 100%;
  }
}

@media (max-width: 1200px) {
  html body #wrapper .text {
    display: block;
    left: 50%;
  }
  .input_width {
    max-width: 100% !important;
  }
  .modal_width {
    width: 600px !important;
  }
}

.components > li > a > .fa, .components > li > ul > li > a > .fa, .components > li > ul > li > ul > li > a > .fa {
  padding-right: 10px;
}

html body #wrapper .text:nth-child(30) {
  font-size: 37px;
}

html body #wrapper .text:nth-child(29) {
  font-size: 36px;
}

html body #wrapper .text:nth-child(28) {
  font-size: 35px;
}

html body #wrapper .text:nth-child(27) {
  font-size: 34px;
}

html body #wrapper .text:nth-child(26) {
  font-size: 33px;
}

html body #wrapper .text:nth-child(25) {
  font-size: 32px;
}

html body #wrapper .text:nth-child(24) {
  font-size: 31px;
}

html body #wrapper .text:nth-child(23) {
  font-size: 30px;
}

html body #wrapper .text:nth-child(22) {
  font-size: 29px;
}

html body #wrapper .text:nth-child(21) {
  font-size: 28px;
}

html body #wrapper .text:nth-child(20) {
  font-size: 27px;
}

html body #wrapper .text:nth-child(19) {
  font-size: 26px;
}

html body #wrapper .text:nth-child(18) {
  font-size: 25px;
}

html body #wrapper .text:nth-child(17) {
  font-size: 24px;
}

html body #wrapper .text:nth-child(16) {
  font-size: 23px;
}

html body #wrapper .text:nth-child(15) {
  font-size: 22px;
}

html body #wrapper .text:nth-child(14) {
  font-size: 21px;
}

html body #wrapper .text:nth-child(13) {
  font-size: 20px;
}

html body #wrapper .text:nth-child(12) {
  font-size: 19px;
}

html body #wrapper .text:nth-child(11) {
  font-size: 18px;
}

html body #wrapper .text:nth-child(10) {
  font-size: 17px;
}

html body #wrapper .text:nth-child(9) {
  font-size: 16px;
}

html body #wrapper .text:nth-child(8) {
  font-size: 15px;
}

html body #wrapper .text:nth-child(7) {
  font-size: 14px;
}

html body #wrapper .text:nth-child(6) {
  font-size: 13px;
}

html body #wrapper .text:nth-child(5) {
  font-size: 12px;
}

html body #wrapper .text:nth-child(4) {
  font-size: 11px;
}

html body #wrapper .text:nth-child(3) {
  font-size: 10px;
}

html body #wrapper .text:nth-child(2) {
  font-size: 9px;
}

html body #wrapper .text:nth-child(1) {
  font-size: 8px;
}

.cssreflections .reflection {
  -webkit-box-reflect: below -.45em -webkit-gradient(linear, left top, left bottom,
          from(transparent),
          color-stop(0%, transparent),
          to(rgba(255, 255, 255, 0.75)));
  -ms-box-reflect: below -.45em -webkit-gradient(linear, left top, left bottom,
          from(transparent),
          color-stop(0%, transparent),
          to(rgba(255, 255, 255, 0.75)));
}

.no-cssreflections .reflection {
  text-shadow: 0 1px 0 #fff,
  0 2px 0 #126ac9,
  0 3px 0 #1160b6,
  0 4px 0 #105cad,
  0 5px 0 #0f56a2,
  0 6px 1px rgba(0, 0, 0, .1),
  0 0 5px rgba(0, 0, 0, .1),
  0 1px 3px rgba(0, 0, 0, .3),
  0 3px 5px rgba(0, 0, 0, .2),
  0 5px 10px rgba(0, 0, 0, .25),
  0 10px 10px rgba(0, 0, 0, .2),
  0 20px 20px rgba(0, 0, 0, .15);
}

.reflection {
  display: block;
  right: 35px;
  position: relative;
}

.nav-tabs {
  border-bottom: 1px solid #ddd !important;
}

.brandImage {
  width: 200px;
  height: 150px
}

.brandName {
  display: inline-block;
  padding: 8px;
}

.tab-content > .active {
  margin-top: 15px;
}

thead {
  background-color: #222d32;
  color: #fff;
}

.deviceViewTab p {
  padding: 10px;
  background: #d6efef;
  color: #337768;
}

.line_animate {
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 2000
}

.input_vew_margin {
  margin: 10px 0px;
}

.button_block {
  width: 100%;
  display: inline-block;
}

.input_width {
  width: 400px !important;
}

.modal_width {
  width: 1000px;
}

.device_style {
  padding: 10px;
  background: #d6efef;
  color: #337768;
}

.modal.in .modal-dialog {
  transform: scale(1) !important;
  transition: transform .75s !important
}

.modal.fade .modal-dialog {
  transform: scale(0);
  transition: transform .5s;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none !important;
}

.status_icons {
  float: right;
  margin-right: 7px;
  margin-top: 3px;
}

.status_icons_active {
  font-weight: bold;
  font-size: 18px;
}
.alert{
  padding: 7px;
}
.input_vew_margin input[disabled]{
  cursor: default;
  background-color: rgba(169, 229, 232, 0.49);
}
.viw_Info_button {
  border-color: #303432;
  background-color: #0fa5ad;
  color: #fff;
}
 .viw_Info_button:hover{
  background-color: #38cfde;
   color: #fff;
   cursor: default;
 }