<div *ngIf="brands === undefined" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="brands">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li>Brands</li>
                    </ol>
                    <button class="search-open" *ngIf="no_result !== true">
                        <i class="fa fa-search search-icon" aria-hidden="true"></i>
                    </button>
                    <button
                            type="button" class="btn btn-sm btn-success addButton" *ngIf="user_type === 'administrator'"
                            (click)="openAddModal()" data-toggle="modal" data-target="#myModal"
                    >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add
                    </button>

                    <div *ngFor="let language of language_" style="display: inline-block;float: right;">
                        <img *ngIf="language.status === 1" class="language_icon"
                             src="{{language.image.uri}}"
                             alt="{{language.image.name}}"
                             title="{{language.image.name}}"
                             (click)="change_language(language.code)"
                             [ngClass]="(language.code ==  lang)? 'active_language' : ''"/>
                    </div>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="search col-md-12">
                            <div class="fadeIn animated" id="search-toggle">
                                <form class="form-inline" id="form" #form="ngForm"
                                      (ngSubmit)="search(form.value)">
                                    <div class="form-group">
                                        <input type="text" minlength="3" required [(ngModel)]="search_name.value"
                                               #search_name="ngModel" name="search" class="form-control"
                                               placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info btn-flat" [disabled]="form.invalid">
                                            Go!
                                        </button>
                                        <button type="reset" class="btn btn-danger" (click)="refresh()">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div [@degriss]="degriss" class="alert alert-success col-md-12">
                        {{message}}
                    </div>
                    <div class="callout callout-warning col-md-12" *ngIf="no_result">
                        <p>{{no_result_mejjige}}</p>
                    </div>
                    <div *ngIf="messageError" class="alert alert-danger col-md-12">{{messageError}}</div>

                    <div class="alert alert-info no_result_div col-md-12" *ngIf="messageSearch">
                        <p class="no_result">{{messageSearch}}<span style="color: #222d32; cursor: pointer;"
                                                                       (click)="refresh()">Go to List</span></p>
                    </div>
                    <table class="table table-hover table-bordered data-table" *ngIf="!messageSearch && !no_result">
                        <thead>
                        <tr>
                            <th>
                                Name
                                <span class="glyphicon glyphicon-sort sort_icon"
                                      (click)="filter('sort', 'ASC')"
                                      *ngIf="sortType === 'NORMAL'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes sort_icon"
                                      (click)="filter('sort', 'DESC')"
                                      *ngIf="sortType === 'ASC'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt sort_icon"
                                      (click)="filter('sort', '')"
                                      *ngIf="sortType === 'DESC'"
                                ></span>
                            </th>
                            <th>Image</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let brand of brands" class="infoupdate">
                            <td>
                                <p title="{{brand.translation[0] === undefined ? '' : brand.translation[0].name}}"
                                   data-toggle="tooltip" data-placement="bottom"
                                   class="hover_tolltip">
                                    {{brand.translation[0] === undefined ? '' : brand.translation[0].name}}
                                </p>
                            </td>
                            <td *ngIf="brand.images !== null" class="hover_tolltip">
                                <img title="<img  src='{{brand.images.uri}}'
                                alt='' class='image_size_tolltip'>" data-toggle="tooltip"
                                        src="{{brand.images.uri}}"
                                        alt="" class="image_size_brand">
                            </td>
                            <td *ngIf="brand.images === null">
                                No selected image
                            </td>
                            <td>
                                <label class="switch" *ngIf="brand.status == 1">
                                    <input type="checkbox" checked
                                           [disabled]="disablestatus == brand.id || user_type == 'reviewer'"
                                           name="editstatus" #editstatus="ngModel"
                                           [(ngModel)]="brand.status"
                                           (change)="changeStatus(editstatus.value, brand.id)">
                                    <span class="slider round"></span>
                                </label>
                                <label class="switch" *ngIf="brand.status == 0">
                                    <input type="checkbox"
                                           [disabled]="disablestatus == brand.id || user_type == 'reviewer'"
                                           name="editstatuss" #editstatuss="ngModel"
                                           [(ngModel)]="brand.status"
                                           (change)="changeStatus(editstatuss.value, brand.id)">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td>
                                <a style="padding: 0 7px">
                                    <i class="fa fa-eye" title="Show"
                                       data-toggle="modal" data-target="#myModal"
                                       (click)="openModal(brand.id)"></i>
                                </a>
                                <a style="padding: 0 7px"
                                   *ngIf="user_type === 'administrator' || user_type === 'editor'">
                                    <i class="fa fa-pencil" title="Edit"
                                       data-toggle="modal" data-target="#myModal"
                                       (click)="openEditModal(brand.id)"></i>
                                </a>
                                <a style="padding: 0 7px" *ngIf="user_type === 'administrator'">
                                    <i class="fa fa-times" title="Delete" (click)="deleteId(brand.id)"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div *ngIf="!messageSearch">
                        <ul class="pagination" *ngIf="pagination.length !== 1 && this.no_result === false">
                            <li [ngClass]="{'disabled':paginDiss === 1}"><a
                                    (click)="last_first_page('first')"> << </a></li>
                            <li [ngClass]="{'disabled':paginDiss === 1}">
                                <a (click)="prev_next('prev')"> < </a></li>
                            <li *ngFor="let page of pagination"
                                [ngClass]="{'active':paginDiss === page}">
                                <a (click)="paginationData(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a
                                    (click)="prev_next('next')"> > </a></li>
                            <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a
                                    (click)="last_first_page('last')">>></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/.col-->
    </div><!--/.row-->
</div>
<div class="modal fade fade-scale" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="viewData == 'view'">View</h4>
                <h4 class="modal-title" *ngIf="viewData == 'edit'">Brand Edit</h4>
                <h4 class="modal-title" *ngIf="viewData == 'add'">New Brand</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" *ngIf="viewData == 'view'">
                <div *ngIf="!showBrand" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngIf="showBrand">
                    <span *ngIf="showBrand.images">
                        <img src="{{showBrand.images.uri}}" alt="{{showBrand.images.name}}" class="image"/>
                    </span>
                    <span *ngIf="showBrand.images === null">
                       <h4>No brand images</h4>
                    </span>
                    <ul class="nav nav-tabs">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a data-toggle="tab" class="tab_button" href="#brandName{{i}}" (click)="tabs_()">{{lang.name}}<img
                                    src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="brandName{{i}}"
                             class="tab-pane fade deviceViewTab"
                             [ngClass]="{'in active':i === 0}">
                            <p>
                                <b>Name</b>
                                {{showBrand.translation[i] === undefined ? '' : showBrand.translation[i].name}}
                            </p>
                        </div>
                    </div>
                    <div [@input_animations]="">
                    <div *ngIf="showBrand.status === 1" class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Status</button>
                            </div>
                            <input disabled type="text" class="form-control" value="Enabled">
                        </div>
                    </div>
                    <div *ngIf="showBrand.status === 0" class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Status</button>
                            </div>
                            <input disabled type="text" class="form-control" value="Disabled">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Updated</button>
                            </div>
                            <input disabled type="text" class="form-control"
                                   value="{{showBrand.updated_at}}">
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="modal-body" *ngIf="viewData == 'edit'">
                <div *ngIf="!editBrands" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <div *ngIf="editBrands">
                    <form #form="ngForm" id="formedit" (ngSubmit)="onSumbit(form.value, editBrands.id)">
                        <div class="form-group">
                            <ul class="nav nav-tabs">
                                <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                                    <a (click)="tabs_()" data-toggle="tab" class="tab_button" href="#menua{{i}}">{{lang.name}}<img
                                            src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="menua{{i}}"
                                     class="tab-pane fade"
                                     [ngClass]="{'in active':i === 0}">
                                    <label for="nameadd_{{ lang.code }}">Name</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="name_{{ lang.code }}"
                                            [value]="editBrands.translation[i] === undefined ? '' :editBrands.translation[i].name"
                                            name="name_{{ lang.code }}"
                                            #name_enn="ngModel"
                                            required
                                            [(ngModel)]="editBrands.translation[i] === undefined ? '' :editBrands.translation[i].name"
                                            minlength="1"
                                            maxlength="255"
                                            autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <img src="{{img_path}}" *ngIf="this.img_path !== ''" style="max-width: 150px">
                        <img src="{{editBrands.images.uri}}" *ngIf="this.img_path === ''" style="max-width: 150px">
                        <div class="form-group">
                            <label for="selectFile">Image</label>
                            <input
                                    type="file"
                                    id="selectFile"
                                    name="selectFile"
                                    class="form-control"
                                    required
                                    #addimage
                                    (change)="onImageChangeFromFile($event)"
                            >
                            <span class="text-danger"
                                  *ngIf="fileEditImage === false">Image file type is not valid</span>
                            <span class="text-danger" *ngIf="fileSize === false">Max size 1mb</span>
                        </div>
                        <div class="form-group">
                            <p><b>Status</b></p>
                            <label class="switch" *ngIf="editBrands.status == 1">
                                <input type="checkbox" checked name="editstatus" #editstatus="ngModel"
                                       [(ngModel)]="editBrands.status">
                                <span class="slider round"></span>
                            </label>
                            <label class="switch" *ngIf="editBrands.status == 0">
                                <input type="checkbox" name="editstatus" #editstatus="ngModel"
                                       [(ngModel)]="editBrands.status">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="button_block">
                            <button [disabled]="form.invalid || fileEditImage === false || fileSize === false"
                                    type="submit" class="btn btn-primary update button_style">Update
                            </button>
                        </div>
                    </form>

                </div>
            </div>

            <div class="modal-body" *ngIf="viewData == 'add'">
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <form #form="ngForm" id="formadd" (ngSubmit)="add(form.value)">
                    <div class="form-group">
                        <ul class="nav nav-tabs">
                            <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                                <a (click)="tabs_()" data-toggle="tab" class="tab_button" href="#menuadd{{i}}">{{lang.name}}<img
                                        src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="menuadd{{i}}"
                                 class="tab-pane fade"
                                 [ngClass]="{'in active':i === 0}">
                                <label for="nameadd_{{ lang.code }}">Name</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="nameadd_{{ lang.code }}"
                                        name="nameadd_{{ lang.code }}"
                                        #name_en="ngModel"
                                        [(ngModel)]="name_en.value"
                                        autocomplete="off"
                                        placeholder="Brand name"
                                        required
                                        minlength="1"
                                        maxlength="255"
                                >

                            </div>
                        </div>
                    </div>
                    <img src="{{img_path}}" *ngIf="this.img_path !== ''" style="max-width: 150px">
                    <div class="form-group">
                        <label for="sFile">Image</label>
                        <input
                                type="file"
                                id="sFile"
                                name="selectFile"
                                class="form-control"
                                required
                                #addimage
                                (change)="onImageChangeFromFile($event)"
                        >
                        <span class="text-danger" *ngIf="fileEditImage === false">Image file type is not valid</span>
                        <span class="text-danger" *ngIf="fileSize === false">Max size 1mb</span>
                    </div>
                    <div class="form-group">
                        <p><b>Status</b></p>
                        <label class="switch">
                            <input type="checkbox" name="addstatus" #addstatus="ngModel" [(ngModel)]="addstatus.value">
                            <span class="slider round"></span>
                        </label>
                    </div>

                    <div class="button_block">
                        <button [disabled]="form.invalid || recuared_image == -1" type="submit"
                                class="btn save btn-success button_style">Create
                        </button>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>