<div *ngIf="categories === undefined" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="categories">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li>Categories</li>
                    </ol>
                    <button class="search-open">
                        <i class="fa fa-search search-icon" aria-hidden="true"></i>
                    </button>
                    <button
                            type="button" class="btn btn-sm btn-success addButton" *ngIf="user_type === 'administrator'"
                            (click)="openAddModal()" data-toggle="modal" data-target="#myModal"
                    >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add
                    </button>
                    <div *ngFor="let language of language_" style="display: inline-block;float: right;">
                        <img *ngIf="language.status === 1" class="language_icon"
                             src="{{language.image.uri}}"
                             alt="{{language.image.name}}"
                             title="{{language.image.name}}"
                             (click)="change_language(language.code)"
                             [ngClass]="(language.code ==  lang)? 'active_language' : ''"/>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="search col-md-12">
                            <div class="fadeIn animated" id="search-toggle">
                                <form class="form-inline" id="form" #form="ngForm"
                                      (ngSubmit)="search(form.value)">
                                    <div class="form-group">
                                        <input type="text" minlength="3" required [(ngModel)]="search_name.value"
                                               #search_name="ngModel"
                                               name="search" class="form-control"
                                               placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info btn-flat" [disabled]="form.invalid">Go!
                                        </button>
                                        <button type="reset" class="btn btn-danger" (click)="refresh()">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="callout callout-warning col-md-12" *ngIf="no_result">
                        <p>{{no_result_mejjige}}</p>
                    </div>
                    <div [@degriss]="degriss" class="alert alert-success col-md-12">
                        {{message}}
                    </div>
                    <div *ngIf="messageError" class="alert alert-danger col-md-12">{{messageError}}</div>
                    <div class="alert alert-info no_result_div col-md-12" *ngIf="messageSearch">
                        <p class="no_result">{{messageSearch}} <span style="color: #222d32; cursor: pointer;"
                                                                       (click)="refresh()">Go to List</span></p>
                    </div>
                    <table class="table table-hover table-bordered data-table" *ngIf="!messageSearch && !no_result">
                        <thead>
                        <tr>
                            <th>Name
                                <span class="glyphicon glyphicon-sort sort_icon"
                                      (click)="filter('sort','ASC')"
                                      *ngIf="sortType === 'NORMAL'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes sort_icon"
                                      (click)="filter('sort','DESC')"
                                      *ngIf="sortType === 'ASC'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt sort_icon"
                                      (click)="filter('sort','')"
                                      *ngIf="sortType === 'DESC'"
                                ></span>
                            </th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let category of categories" class="infoupdate">
                            <td>
                                <p title="{{category.translation[0] === undefined ? '' : category.translation[0].name}}"
                                   data-toggle="tooltip" data-placement="bottom"
                                   class="hover_tolltip">
                                    {{category.translation[0] === undefined ? '' : category.translation[0].name}}
                                </p>
                            </td>
                            <td>
                                <label class="switch" *ngIf="category.status == 1">
                                    <input type="checkbox" checked
                                           [disabled]="disablestatus == category.id || user_type == 'reviewer'"
                                           name="editstatus" #editstatus="ngModel"
                                           [(ngModel)]="category.status"
                                           (change)="changeStatus(editstatus.value, category.id)">
                                    <span class="slider round"></span>
                                </label>
                                <label class="switch" *ngIf="category.status == 0">
                                    <input type="checkbox"
                                           [disabled]="disablestatus == category.id || user_type == 'reviewer'"
                                           name="editstatuss" #editstatuss="ngModel"
                                           [(ngModel)]="category.status"
                                           (change)="changeStatus(editstatuss.value, category.id)">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td class="action">
                                <a>
                                    <i class="fa fa-eye" title="Show"
                                       data-toggle="modal" data-target="#myModal"
                                       (click)="openModal(category.id)"></i>
                                </a>
                                <a *ngIf="user_type === 'administrator' || user_type === 'editor'">
                                    <i class="fa fa-pencil" title="Edit"
                                       data-toggle="modal" data-target="#myModal"
                                       (click)="openEditModal(category.id)"></i>
                                </a>
                                <a *ngIf="user_type === 'administrator'">
                                    <i class="fa fa-times" title="Delete"
                                       (click)="deleteId(category.id)"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <div *ngIf="!messageSearch">
                        <ul class="pagination" *ngIf="pagination.length !== 1 && this.no_result === false">
                            <li [ngClass]="{'disabled':paginDiss === 1}"><a
                                    (click)="last_first_page('first')"><<</a></li>
                            <li [ngClass]="{'disabled':paginDiss === 1}"><a
                                    (click)="prev_next('prev')"><</a></li>
                            <li *ngFor="let page of pagination"
                                [ngClass]="{'active':paginDiss === page}"
                            >
                                <a (click)="paginationData(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a
                                    (click)="prev_next('next')">></a></li>
                            <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a
                                    (click)="last_first_page('last')">>></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/.col-->
    </div><!--/.row-->
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="viewData == 'view'">View</h4>
                <h4 class="modal-title" *ngIf="viewData == 'edit'">Category Edit</h4>
                <h4 class="modal-title" *ngIf="viewData == 'add'">New Category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" *ngIf="viewData == 'view'">
                <div *ngIf="!showCategory" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngIf="showCategory">
                    <ul class="nav nav-tabs">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a data-toggle="tab" class="tab_button" href="#categoryName{{i}}" (click)="tabs_()">{{lang.name}}<img
                                    src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="categoryName{{i}}"
                             class="tab-pane fade deviceViewTab"
                             [ngClass]="{'in active':i === 0}">
                            <p>
                                <b>Name</b>
                                      {{showCategory.translation[i] === undefined ? '' : showCategory.translation[i].name}}
                            </p>
                        </div>
                    </div>
                    <div [@input_animations]="">
                    <div *ngIf="showCategory.status === 1" class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Status</button>
                            </div>
                            <input disabled type="text" class="form-control form-control-sm" value="Enabled">
                        </div>
                    </div>
                    <div *ngIf="showCategory.status === 0" class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Status</button>
                            </div>
                            <input disabled type="text" class="form-control form-control-sm" value="Disabled">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Updated</button>
                            </div>
                            <input disabled type="text" class="form-control form-control-sm" value="{{showCategory.updated_at}}">
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="modal-body" *ngIf="viewData == 'edit'">
                <div *ngIf="!editcategories" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <div *ngIf="editcategories">
                    <form #form="ngForm" (ngSubmit)="onSubmit(form.value, editcategories.id)">
                        <div class="form-group">
                            <ul class="nav nav-tabs">
                                <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                                    <a data-toggle="tab" class="tab_button" href="#menua{{i}}" (click)="tabs_()">{{lang.name}}<img
                                            src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="menua{{i}}" class="tab-pane fade"
                                     [ngClass]="{'in active':i === 0}">
                                    <label for="name_{{ lang.code }}">Name</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="name_{{ lang.code }}"
                                            [value]="editcategories.translation[i] === undefined ? '' : editcategories.translation[i].name"
                                            name="name_{{ lang.code }}"
                                            #name_en="ngModel"
                                            required
                                            [(ngModel)]="editcategories.translation[i] === undefined ? '' : editcategories.translation[i].name"
                                            minlength="1"
                                            autocomplete="off"
                                            maxlength="255"
                                    >
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <p><b>Status</b></p>
                            <label class="switch" *ngIf="editcategories.status == 1">
                                <input type="checkbox" checked name="editstatus" #editstatus="ngModel"
                                       [(ngModel)]="editcategories.status">
                                <span class="slider round"></span>
                            </label>
                            <label class="switch" *ngIf="editcategories.status == 0">
                                <input type="checkbox" name="editstatus" #editstatus="ngModel"
                                       [(ngModel)]="editcategories.status">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="button_block">
                        <button [disabled]="form.invalid" type="submit" class="btn btn-primary update button_style">Update</button>
                        </div>
                    </form>

                </div>
            </div>

            <div class="modal-body" *ngIf="viewData == 'add'">
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <form #form="ngForm" (ngSubmit)="add(form.value)" id="formadd">
                    <ul class="nav nav-tabs">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a data-toggle="tab" class="tab_button" href="#menuadd{{i}}" (click)="tabs_()">{{lang.name}}<img
                                    src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="menuadd{{i}}" class="tab-pane fade"
                             [ngClass]="{'in active':i === 0}">
                            <label for="nameadd_{{ lang.code }}">Name</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="nameadd_{{ lang.code }}"
                                    name="nameadd_{{ lang.code }}"
                                    #name_en="ngModel"
                                    [(ngModel)]="name_en.value"
                                    autocomplete="off"
                                    placeholder="Category name"
                                    required
                                    minlength="1"
                                    maxlength="255"

                            >

                        </div>
                    </div>

                    <div class="form-group">
                        <p><b>Status</b></p>
                        <label class="switch">
                            <input type="checkbox" name="addstatus" #addstatus="ngModel" [(ngModel)]="addstatus.value">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="button_block">
                    <button [disabled]="form.invalid" type="submit" class="btn save btn-success button_style">Create</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

