<div *ngIf="devices == undefined" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<ol class="breadcrumb">
    <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li>Device update</li>
</ol>
<div class="callout callout-warning" *ngIf="no_result">
    <p>{{no_result_mejjige}}</p>
</div>
<div class="animated fadeIn" *ngIf="devices">
    <div class="search_device">
        <form #form="ngForm" class="form-inline" *ngIf="!no_result">
            <div class="form-group">
                <input type="text" placeholder="Imei Number" [(ngModel)]="imeinumber.value" name="imeinumber"
                       #imeinumber="ngModel" minlength="10" pattern="^[A-Za-z-\d\s]+$" class="form-control input_width">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Hash Code" name="hashcode" #hashcode="ngModel"
                       [(ngModel)]="hashcode.value"
                       minlength="64" maxlength="64" pattern="^[A-Za-z\d\s]+$" class="form-control input_width">
            </div>
            <div class="form-group">
                <button class="btn btn-info btn-flat"
                        [disabled]="form.invalid || (imeinumber.value == null && hashcode.value == null)"
                        (click)="select(imeinumber.value, hashcode.value)">Go!
                </button>
            </div>
        </form>
    </div>
    <div class="alert alert-success configalertdelete" [@degriss]="degriss">
        {{message}}
    </div>
    <div class="alert alert-info no_result_div col-md-12" *ngIf="messageSearch">
        <p class="no_result">{{messageSearch}} <span style="color: #222d32; cursor: pointer;" (click)="refresh()">Go to List</span></p>
    </div>
    <div class="scroll_table">
        <table class="table table-hover table-bordered data-table deviceupdatedate"
               *ngIf="!messageSearch &&(devices[0] || no_result !== true)">
            <thead>
            <tr>
                <th>Imei Number</th>
                <th>Name</th>
                <th>Device Status</th>
                <th>Hash code</th>
                <th>Modify date
                    <span class="glyphicon glyphicon-sort sort_icon"
                          (click)="filter('deviceUpdate/searchDate?sort=', 'asc')"
                          *ngIf="sortType === 'norm' "
                    ></span>
                    <span class="glyphicon glyphicon-sort-by-attributes sort_icon"
                          (click)="filter('deviceUpdate/searchDate?sort=', 'desc')"
                          *ngIf="sortType === 'asc' "
                    ></span>
                    <span class="glyphicon glyphicon-sort-by-attributes-alt sort_icon"
                          (click)="filter('deviceUpdate/searchDate?sort=', 'norm')"
                          *ngIf="sortType === 'desc' "
                    ></span>
                </th>
                <th>Updated status
                    <i class="icon fa fa-check status_icons"
                       [ngClass]="{'text-success status_icons_active': sortType_status == 'successfully'}"
                       (click)="filter_status('deviceUpdate/searchStatus?Updated_status=', 'successfully')"

                    ></i>
                    <i class="icon fa fa-ban status_icons"
                       [ngClass]="{'text-danger status_icons_active': sortType_status == 'error'}"
                       (click)="filter_status('deviceUpdate/searchStatus?Updated_status=', 'error')"

                    ></i>
                    <i class="icon fa fa-warning status_icons"
                       [ngClass]="{'text-warning status_icons_active': sortType_status == 'undefined'}"
                       (click)="filter_status('deviceUpdate/searchStatus?Updated_status=', 'undefined')"

                    ></i>
                </th>
                <th>Message</th>
                <th>Update date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let device of devices,let i = index" class="infoupdate" style="border-bottom: 2px rgba(247, 154, 15, 0.56) inset;
    border-bottom-style: dotted;">
                <td><p>{{device.imei_number}}</p></td>
                <td><p *ngIf="!devices[0].message">{{device.translation[0].name}}</p></td>
                <td *ngIf="device.status == 1" class="text-success"><p>Enabled</p></td>
                <td *ngIf="device.status == 0" class="text-danger"><p>Disabled</p></td>
                <td><p *ngFor="let item of device.device_updates"><a title="Show"
                                                                     data-toggle="modal" data-target="#myModal"
                                                                     style="cursor:pointer"
                                                                     (click)="openModal(item.id)">{{item.hash}}</a></p>
                </td>
                <td><p *ngFor="let item of device.device_updates">{{item.modify_update_date}}</p></td>
                <td>
                    <p [ngClass]="{'text-success': item.status ==1, 'text-danger': item.status == 2, 'text-warning': item.status === 0 }"
                       *ngFor="let item of device.device_updates">{{status_list[item.status]}}</p></td>
                <td><p *ngFor="let item of device.device_updates">{{item.message}}</p></td>
                <td><p *ngFor="let item of device.device_updates">{{item.update_date_status}}</p></td>
                <td *ngIf="user_type == 'administrator'">
                    <p *ngFor="let item of device.device_updates">
                        <a class="updateaction">
                            <i class="fa fa-pencil" title="Edit" (click)="openEditModal(item.id)"
                               data-toggle="modal" data-target="#myModal"></i>
                        </a>
                        <a (click)="deleteId(item.hash)" class="updateaction">
                            <i class="fa fa-times" title="Delete"></i>
                        </a>
                    </p>
                    <p *ngIf="!devices[0].message && device.device_updates[0]" style="height: auto">
                        <button style=" padding: 2px 5px" (click)="deleteAll(device.imei_number)" type="button"
                                class="btn btn-danger">Delete
                            All
                        </button>
                    </p>
                </td>
                <!--<td *ngIf="!devices[0].message && device.device_updates[0]">-->
                <!--<button (click)="deleteAll(device.imei_number)" type="button" class="btn btn-danger">Delete All</button>-->
                <!--</td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog" [ngClass]="{'modal_width': viewData=='view'}">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 *ngIf="viewData=='view'" class="modal-title">View</h4>
                <h4 *ngIf="viewData=='edit'" class="modal-title">Device Edit</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" *ngIf="viewData == 'view'">
                <div *ngIf="!oneupdate" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div class="viewupdate" *ngIf="oneupdate">
                    <ul class="nav nav-tabs">
                        <li class="active"><a (click)="tabs_()" data-toggle="tab" class="tab_button" href="#menua2">Data
                            code</a></li>
                        <li><a (click)="tabs_()" data-toggle="tab" class="tab_button" href="#menua3">Information</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div [@tabsRtigger]="tabs" class="in active tab-pane fade" id="menua2">
                            <p *ngIf="oneupdate.data != ''" style="overflow: scroll; max-height: 300px"
                               class="device_style"><b>Data code: </b> {{oneupdate.data}}</p>
                            <p *ngIf="oneupdate.data == ''" class="device_style"><b>Data code: </b>No data Code</p>
                        </div>
                        <div id="menua3"
                             class="tab-pane fade in" [@tabsRtigger]="tabs">
                            <p class="device_style"><b>Hash code: </b> {{oneupdate.hash}}</p>
                            <p class="device_style"><b>Updated: </b> {{oneupdate.update_date_status}}</p>
                            <p class="device_style" *ngIf="oneupdate.message !== null"><b>Message: </b>
                                {{oneupdate.message}}</p>
                            <p class="device_style" *ngIf="oneupdate.message === null"><b>No Message</b></p>
                            <p class="device_style"><b>Status: </b> {{oneupdate.status}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body" *ngIf="viewData == 'edit'">
                <div *ngIf="!oneupdate" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngIf="messageError" class="alert alert-danger">{{messageError}}</div>
                <div *ngIf="oneupdate">
                    <form #form="ngForm" id="formedit">
                        <div class="form-group">
                            <label for="message">Message</label>
                            <input type="text"
                                   id="message"
                                   name="message"
                                   class="form-control"
                                   [value]="oneupdate.message"
                                   #message="ngModel"
                                   placeholder="Message"
                                   required
                                   [(ngModel)]="oneupdate.message"
                                   minlength="2"
                                   autocomplete="off"
                            >
                        </div>
                        <div class="form-group">
                            <label for="editstatus">Status</label>
                            <select id="editstatus" name="editstatus" #editstatus="ngModel"
                                    [(ngModel)]="editstatus.value"
                                    class="form-control" required>
                                <option *ngFor="let item of status_list, let i = index" value="{{i}}">{{item}}</option>
                            </select>
                        </div>
                        <div class="button_block">
                            <button type="button" class="btn btn-primary update button_style" [disabled]="form.invalid"
                                    (click)="update(form.value, oneupdate.hash, oneupdate.imei_number)">Update
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
