<div *ngIf="devicearray === undefined" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<ol class="breadcrumb">
    <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li>Device config</li>
</ol>
<div class="callout callout-warning" *ngIf="no_result">
    <p>{{no_result_mejjige}}</p>
</div>
<div *ngIf="messageError" class="alert alert-danger">{{messageError}}</div>
<div class="animated fadeIn" *ngIf="devicename && no_result !== true">
    <div class="selectdevice devicesearch">
        <select name="deviceconfig" #deviceconfig class="form-control" id="deviceconfig">
            <option *ngFor="let name of devicename" [value]="name.id">{{name.name}}</option>
        </select>
        <button type="submit" (click)="select(deviceconfig.value)" class="btn btn-info btn-flat">Go!
        </button>
        <button class="btn btn-success create" (click)="createModal()" data-toggle="modal" data-target="#myModal"
                *ngIf="user_type === 'administrator'">
            Add Config
        </button>
    </div>
    <div class="alert alert-info configalert" *ngIf="!onedevice[0]">
        <strong>Info!</strong> This Device does not have config.Please create
    </div>
    <div class="alert alert-success configalertdelete" [@degriss]="degriss">
        {{message}}
    </div>
    <ol class="breadcrumb" *ngIf="device" style="margin-top: 20px; margin-bottom: 0;">
        <li>Devices table</li>
    </ol>
    <table class="table table-hover table-bordered data-table" *ngIf="device">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Imei Number</th>
            <th>Type</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{device.id}}</td>
            <td>{{device.translation[0].name}}</td>
            <td>{{device.imei_number}}</td>
            <td *ngIf="device.type == 1">1</td>
            <td *ngIf="device.type == 0">0</td>
            <td>
                <label class="switch" *ngIf="device.status == 1">
                    <input disabled type="checkbox" checked
                           name="editstatus" #editstatus="ngModel"
                           [(ngModel)]="device.status">
                    <span class="slider round"></span>
                </label>
                <label class="switch" *ngIf="device.status == 0">
                    <input disabled type="checkbox"
                           name="editstatuss" #editstatuss="ngModel"
                           [(ngModel)]="device.status">
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <ol class="breadcrumb" *ngIf="onedevice[0]" style="margin-top: 20px; margin-bottom: 0;">
        <li>Device config table</li>
    </ol>
    <table class="table table-hover table-bordered data-table" *ngIf="onedevice[0]">
        <thead>
        <tr>
            <th>Group</th>
            <th>Type</th>
            <th>Value</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let config of onedevice">
            <td>{{config.group}}</td>
            <td>{{config.type}}</td>
            <td>{{config.value}}</td>
            <td class="action">
                <a>
                    <i class="fa fa-eye" title="Show"
                       data-toggle="modal" data-target="#myModal"
                       (click)="view(config)"></i>
                </a>
                <a *ngIf="user_type === 'administrator' || user_type === 'editor'">
                    <i class="fa fa-pencil" title="Edit" (click)="openEditModal(config.id)"
                       data-toggle="modal" data-target="#myModal"></i>
                </a>
                <a *ngIf="user_type === 'administrator'" (click)="deleteID(config.id)">
                    <i class="fa fa-times" title="Delete"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 *ngIf="viewData=='view'" class="modal-title">View</h4>
                <h4 *ngIf="viewData=='edit'" class="modal-title">Device Config Edit</h4>
                <h4 *ngIf="viewData=='add'" class="modal-title">New Device Config</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" *ngIf="viewData == 'view'">
                <div class="viewconfig" *ngFor="let item of oneconfig">
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-info disabled">Id</button>
                            </div>
                            <input disabled type="text" class="form-control form-control-sm" value="{{item.id}}">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-info disabled">Group</button>
                            </div>
                            <input disabled type="text" class="form-control form-control-sm" value="{{item.group}}">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-info disabled">Type</button>
                            </div>
                            <input disabled type="text" class="form-control form-control-sm" value="{{item.type}}">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-info disabled">Value</button>
                            </div>
                            <input disabled type="text" class="form-control form-control-sm" value="{{item.value}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body" *ngIf="viewData == 'edit'">
                <div *ngIf="!oneconfigedit" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <div *ngIf="oneconfigedit">
                    <div>
                        <form #form="ngForm" id="formedit" (ngSubmit)="update(form.value, oneconfigedit.id)">
                            <div class="form-group">
                                <label for="editgroup">Group</label>
                                <select id="editgroup" name="editgroup" #editgroup="ngModel"
                                        [(ngModel)]="oneconfigedit.group"
                                        class="form-control" required>
                                    <option *ngFor="let name of groupname">{{name.group}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="edittype">Type</label>
                                <select id="edittype" name="edittype" #edittype="ngModel"
                                        [(ngModel)]="oneconfigedit.type"
                                        class="form-control" required>
                                    <option *ngFor="let name of typename">{{name.type}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="configvalueedit">Value</label>
                                <input type="text"
                                       id="configvalueedit"
                                       name="configvalueedit"
                                       class="form-control"
                                       [value]="oneconfigedit.value"
                                       #configvalueedit="ngModel"
                                       placeholder="Value"
                                       required
                                       [(ngModel)]="oneconfigedit.value"
                                       minlength="1"
                                       autocomplete="off"
                                >
                                <span *ngIf="configvalueedit.invalid && (configvalueedit.dirty || configvalueedit.touched)">
                          <span class="text-danger" *ngIf="configvalueedit.errors.required">
                            Name is required.
                          </span>
                          <span class="text-danger" *ngIf="configvalueedit.errors.pattern">
                            Invalid name
                          </span>
                          <span class="text-danger" *ngIf="configvalueedit.errors.minlength">
                            Invalid Name length (min 1 symbol)
                          </span>
                         </span>
                            </div>
                            <div class="form-group">
                                <p><b>Status</b></p>
                                <label class="switch" *ngIf="oneconfigedit.status == 1">
                                    <input type="checkbox" checked name="editstatus" #editstatus="ngModel"
                                           [(ngModel)]="oneconfigedit.status">
                                    <span class="slider round"></span>
                                </label>
                                <label class="switch" *ngIf="oneconfigedit.status == 0">
                                    <input type="checkbox" name="editstatus" #editstatus="ngModel"
                                           [(ngModel)]="oneconfigedit.status">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="button_block">
                                <button class="btn btn-primary update button_style" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-body" *ngIf="viewData == 'add'">
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <form #form="ngForm" id="formadd" (ngSubmit)="add(form.value)">
                    <div class="form-group">
                        <label for="addgroup">Group</label>
                        <select id="addgroup" name="addgroup" #addgroup="ngModel"
                                [(ngModel)]="addgroup.value == undefined? 'Select Group': addgroup.value"
                                class="form-control">
                            <option selected disabled hidden>Select Group</option>
                            <option *ngFor="let name of groupname">{{name.group}}</option>
                        </select>
                        <input *ngIf="addgroup.value == 'Select Group' || addgroup.value == null"
                               class="form-control groupinput"
                               id="group"
                               #group
                               name="group"
                               [(ngModel)]="group.value"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="addtype">Type</label>
                        <select id="addtype" name="addtype" #addtype="ngModel"
                                [(ngModel)]="addtype.value == undefined? 'Select Type': addtype.value"
                                class="form-control">
                            <option selected disabled hidden>Select Type</option>
                            <option *ngFor="let name of typename">{{name.type}}</option>
                        </select>
                        <input *ngIf="addtype.value == 'Select Type'|| addtype.value == null"
                               class="form-control groupinput"
                               id="typeinput"
                               #typeinput
                               name="typeinput"
                               [(ngModel)]="typeinput.value"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="configvalue">Value</label>
                        <input type="text"
                               id="configvalue"
                               name="configvalue"
                               class="form-control"
                               #configvalue="ngModel"
                               placeholder="Value"
                               required
                               [(ngModel)]="configvalue.value"
                               minlength="1"
                               autocomplete="off"
                        >
                        <span *ngIf="configvalue.invalid && (configvalue.dirty || configvalue.touched)">
                          <span class="text-danger" *ngIf="configvalue.errors.required">
                            Name is required.
                          </span>
                          <span class="text-danger" *ngIf="configvalue.errors.pattern">
                            Invalid name
                          </span>
                          <span class="text-danger" *ngIf="configvalue.errors.minlength">
                            Invalid Name length (min 1 symbol)
                          </span>
                         </span>
                    </div>
                    <div class="form-group">
                        <p><b>Status</b></p>
                        <label class="switch">
                            <input type="checkbox" name="addstatus" #addstatus="ngModel" [(ngModel)]="addstatus.value">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="button_block">
                        <button class="btn save btn-success button_style" type="submit" [disabled]="form.invalid">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
