<div *ngIf="devices === undefined" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="devices">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li>Devices</li>
                    </ol>
                    <button class="search-open">
                        <i class="fa fa-search search-icon" aria-hidden="true"></i>
                    </button>
                    <button
                            type="button" class="btn btn-sm btn-success addButton" *ngIf="user_type === 'administrator'"
                            (click)="openAddModal()" data-toggle="modal" data-target="#myModal"
                    >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add
                    </button>
                    <div *ngFor="let language of language_" style="display: inline-block;float: right;">
                        <img *ngIf="language.status === 1" class="language_icon"
                             src="{{language.image.uri}}"
                             alt="{{language.image.name}}"
                             title="{{language.image.name}}"
                             (click)="change_language(language.code)"
                             [ngClass]="(language.code ==  lang)? 'active_language' : ''"/>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="search col-md-12">
                            <div class="fadeIn animated" id="search-toggle">
                                <form class="form-inline" id="form" #form="ngForm"
                                      (ngSubmit)="search(form.value)">
                                    <div class="form-group">
                                        <input type="text" minlength="3" [(ngModel)]="search_name.value"
                                               #search_name="ngModel" name="search" class="form-control"
                                               placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" minlength="3" [(ngModel)]="product_search.value"
                                               #product_search="ngModel" name="product_search"
                                               class="form-control"
                                               placeholder="Product">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" minlength="3" [(ngModel)]="style_search.value"
                                               #style_search="ngModel" name="style_search"
                                               class="form-control"
                                               placeholder="Styles">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info btn-flat" [disabled]="form.invalid">
                                            Go!
                                        </button>
                                        <button type="reset" class="btn btn-danger" (click)="refresh()">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="callout callout-warning col-md-12" *ngIf="no_result">
                        <p>{{no_result_mejjige}}</p>
                    </div>
                    <div [@degriss]="degriss" class="alert alert-success col-md-12">{{message}}</div>
                    <div *ngIf="messageError" class="alert alert-danger col-md-12">{{messageError}}</div>
                    <div class="alert alert-info no_result_div col-md-12" *ngIf="messageSearch">
                        <p class="no_result">{{messageSearch}} <span style="color: #222d32; cursor: pointer;"
                                                                       (click)="refresh()">Go to List</span></p>
                    </div>
                    <div class="scroll_table">
                    <table class="table table-hover table-bordered data-table" *ngIf="!messageSearch && !no_result">
                        <thead>
                        <tr>
                            <th>
                                Name
                                <span class="glyphicon glyphicon-sort sort_icon"
                                      (click)="filter('sort','ASC')"
                                      *ngIf="sort_type_device === 'NORMAL'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes sort_icon"
                                      (click)="filter('sort', 'DESC')"
                                      *ngIf="sort_type_device === 'ASC'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt sort_icon"
                                      (click)="filter('sort', '')"
                                      *ngIf="sort_type_device === 'DESC'"
                                ></span>
                            </th>
                            <th>
                                Product
                                <span class="glyphicon glyphicon-sort sort_icon"
                                      (click)="filter('product_sort', 'ASC')"
                                      *ngIf="sort_type_product === 'NORMAL'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes sort_icon"
                                      (click)="filter('product_sort', 'DESC')"
                                      *ngIf="sort_type_product === 'ASC'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt sort_icon"
                                      (click)="filter('product_sort', '')"
                                      *ngIf="sort_type_product === 'DESC'"
                                ></span>
                            </th>
                            <th>
                                Styles
                                <span class="glyphicon glyphicon-sort sort_icon"
                                      (click)="filter('style_sort', 'ASC')"
                                      *ngIf="sort_type_style === 'NORMAL'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes sort_icon"
                                      (click)="filter('style_sort', 'DESC')"
                                      *ngIf="sort_type_style === 'ASC'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt sort_icon"
                                      (click)="filter('style_sort', '')"
                                      *ngIf="sort_type_style === 'DESC'"
                                ></span>
                            </th>
                            <th>Imei Number</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let device of devices " class="infoupdate">
                            <td>
                                <p title="{{device.translation[0] === undefined ? '' : device.translation[0].name}}"
                                   data-toggle="tooltip" data-placement="bottom"
                                   class="hover_tolltip">
                                    {{device.translation[0] === undefined ? '' : device.translation[0].name}}
                                </p>
                            </td>
                            <td *ngIf="device.products.length == 0"></td>
                            <td *ngIf="device.products.length > 0">
                                <div *ngFor="let item of device.products, let i = index" class="tooltipDiv">
                                    <p *ngIf="i <= 1"
                                       title="{{item.translation[0] === undefined ? '' : item.translation[0].name}}"
                                       data-toggle="tooltip" data-placement="bottom" class="cursor-pointer">
                                        {{item.translation[0] === undefined ? '' : item.translation[0].name}}
                                    </p>
                                </div>
                            </td>

                            <td *ngIf="device.styles.length == 0"></td>
                            <td *ngIf="device.styles.length > 0">
                                <div *ngFor="let item of device.styles, let i = index" class="tooltipDiv">
                                    <p *ngIf="i <= 1"
                                       title="{{item.translation[0] === undefined ? '' : item.translation[0].name}}"
                                       data-toggle="tooltip" data-placement="bottom" class="cursor-pointer">
                                        {{item.translation[0] === undefined ? '' : item.translation[0].name}}
                                    </p>
                                </div>
                            </td>

                            <td>
                                <p title="{{device.imei_number}}"
                                   data-toggle="tooltip" data-placement="bottom"
                                   class="hover_tolltip">
                                    {{device.imei_number}}
                                </p>
                            </td>
                            <td class="statusData">
                                <label class="switch" *ngIf="device.status == 1">
                                    <input type="checkbox" checked
                                           [disabled]="disablestatus == device.id || user_type == 'reviewer' || device.products.length == 0 || device.styles.length == 0"
                                           name="editstatus" #editstatus="ngModel"
                                           [(ngModel)]="device.status"
                                           (change)="changeStatus(editstatus.value, device.id)">
                                    <span class="slider round"></span>
                                </label>
                                <label class="switch" *ngIf="device.status == 0">
                                    <input type="checkbox"
                                           [disabled]="disablestatus == device.id || user_type == 'reviewer' || device.products.length == 0 || device.styles.length == 0"
                                           name="editstatuss" #editstatuss="ngModel"
                                           [(ngModel)]="device.status"
                                           (change)="changeStatus(editstatuss.value, device.id)">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td class="action">
                                <a>
                                    <i class="fa fa-eye" title="Show"
                                       data-toggle="modal" data-target="#myModal"
                                       (click)="openModal(device.id)"></i>
                                </a>
                                <a *ngIf="user_type === 'administrator' || user_type === 'editor'">
                                    <i class="fa fa-pencil" title="Edit"
                                       (click)="openEditModal(device.id)"
                                       data-toggle="modal" data-target="#myModal"></i>
                                </a>
                                <a *ngIf="user_type === 'administrator'" (click)="deleteId(device.id)">
                                    <i class="fa fa-times" title="Delete"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <div *ngIf="!messageSearch">
                        <ul class="pagination" *ngIf="pagination.length !== 1 && this.no_result === false">
                            <li [ngClass]="{'disabled':paginDiss === 1}"><a
                                    (click)="last_first_page('first')"><<</a>
                            </li>
                            <li [ngClass]="{'disabled':paginDiss === 1}"><a
                                    (click)="prev_next('prev')"><</a></li>
                            <li *ngFor="let page of pagination"
                                [ngClass]="{'active':paginDiss === page}"
                            >
                                <a (click)="paginationData(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a
                                    (click)="prev_next('next')">></a>
                            </li>
                            <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a
                                    (click)="last_first_page('last')">>></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/.col-->
    </div><!--/.row-->

</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 *ngIf="viewData=='view'" class="modal-title">View</h4>
                <h4 *ngIf="viewData=='edit'" class="modal-title">Device Edit</h4>
                <h4 *ngIf="viewData=='add'" class="modal-title">New Device</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" *ngIf="viewData == 'view'">
                <div *ngIf="showDevices === null" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngIf="showDevices !== null">
                    <ul class="nav nav-tabs">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a (click)="tabs_()" data-toggle="tab" class="tab_button" href="#deviceName{{i}}">{{lang.name}}<img
                                    src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="deviceName{{i}}"
                             class="tab-pane fade deviceViewTab"
                             [ngClass]="{'in active':i === 0}">
                            <p><b>Name:</b>
                                {{showDevices.translation[i] === undefined ? '' : showDevices.translation[i].name}}
                            </p>
                            <p><b>Products:</b>
                                <span *ngFor="let item of showDevices.products, let j = index">
                                    {{item.translation[i] === undefined ? '' : item.translation[i].name}}<span
                                        *ngIf="j != (item.translation.length - 1)">,</span>
                                </span>
                            </p>
                            <p><b>Styles:</b>
                                <span *ngFor="let item of showDevices.styles, let j = index">
                                    {{item.translation[i] === undefined ? '' : item.translation[i].name}}<span
                                        *ngIf="j != (item.translation.length - 1)">,</span>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Live Image</p>
                            <img src="{{showDevices.by_live_image.uri}}" style="max-width: 100%"/></div>
                        <div class="col-md-6">
                            <p>Session image</p>
                            <img src="{{showDevices.by_session_guide_image.uri}}" style="max-width: 100%"/></div>
                    </div>
                    <div [@input_animations]="">
                    <div *ngIf="user_type === 'administrator'" class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Secret key</button>
                            </div>
                            <!-- /btn-group -->
                            <input disabled type="text" class="form-control" value="{{showDevices.secret.secret}}">
                        </div>
                    </div>
                    <div *ngIf="user_type === 'administrator'" class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Client id</button>
                            </div>
                            <input disabled type="text" class="form-control" value="{{showDevices.secret.id}}">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Imei number</button>
                            </div>
                            <input disabled type="text" class="form-control" value="{{showDevices.imei_number}}">
                        </div>
                    </div>
                    <div *ngIf="showDevices.status === 1" class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Status</button>
                            </div>
                            <input disabled type="text" class="form-control" value="Enabled">
                        </div>
                    </div>
                    <div *ngIf="showDevices.status === 0" class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Status</button>
                            </div>
                            <input disabled type="text" class="form-control" value="Disabled">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Updated</button>
                            </div>
                            <input disabled type="text" class="form-control" value="{{showDevices.updated_at}}">
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="modal-body" *ngIf="viewData == 'edit'">
                <div *ngIf="showDevicesEdit === null" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <div *ngIf="showDevicesEdit !== null">
                    <form #form="ngForm"
                          (ngSubmit)="onSubmit(showDevicesEdit.id, form.value)">

                        <ul class="nav nav-tabs">
                            <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                                <a (click)="tabs_()" data-toggle="tab" class="tab_button" href="#menua{{i}}">{{lang.name}}<img
                                        src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div *ngFor="let lang of language_, let i = index" id="menua{{i}}" class="tab-pane fade"
                                 [ngClass]="{'in active':i === 0}">
                                <label for="name_{{ lang.code }}">Name</label>
                                <input [@tabsRtigger]="tabs"
                                       type="text"
                                       class="form-control"
                                       id="name_{{ lang.code }}"
                                       [value]="showDevicesEdit.translation[i] === undefined ? '' :showDevicesEdit.translation[i].name"
                                       name="name_{{ lang.code }}"
                                       #name="ngModel"
                                       required
                                       [(ngModel)]="showDevicesEdit.translation[i] === undefined ? '' :showDevicesEdit.translation[i].name"
                                       minlength="1"
                                       autocomplete="off">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="selectFileEdit">Live Image</label>
                            <div *ngIf="showDevicesEdit.by_live_image !== null">
                                <img style="width:150px; margin-bottom: 10px" *ngIf="this.img_path_by_live === ''"
                                     src="{{showDevicesEdit.by_live_image.uri}}"
                                     alt="{{showDevicesEdit.by_live_image.name}}">
                            </div>
                            <img src="{{img_path_by_live}}" *ngIf="this.img_path_by_live !== ''"
                                 style="max-width: 150px; margin-bottom: 10px">
                            <input
                                    type="file"
                                    id="selectFileEdit"
                                    name="selectFileEdit"
                                    class="form-control"
                                    required
                                    #addimage
                                    (change)="onImageChangeFromFile($event)"
                            >
                            <span class="text-danger"
                                  *ngIf="fileEditImage === false">Image file type is not valid</span>
                            <span class="text-danger" *ngIf="fileSize === false">Max size 1mb</span>
                        </div>
                        <div class="form-group">
                            <label for="selectFileLiveEdit">Session Image</label>
                            <div *ngIf="showDevicesEdit.by_session_guide_image !== null">
                                <img style="width:150px; margin-bottom: 10px" *ngIf="this.img_path_by_session === ''"
                                     src="{{showDevicesEdit.by_session_guide_image.uri}}"
                                     alt="{{showDevicesEdit.by_session_guide_image.name}}">
                            </div>
                            <img src="{{img_path_by_session}}" *ngIf="this.img_path_by_session !== ''"
                                 style="max-width: 150px; margin-bottom: 10px">
                            <input
                                    type="file"
                                    id="selectFileLiveEdit"
                                    name="selectFileLiveEdit"
                                    class="form-control"
                                    required
                                    #addimageLive
                                    (change)="onImageChangeFromFileLive($event)"
                            >
                            <span class="text-danger"
                                  *ngIf="fileEditImage2 === false">Image file type is not valid</span>
                            <span class="text-danger" *ngIf="fileSize2 === false">Max size 1mb</span>
                        </div>
                        <div class="form-group" style="margin-top: 10px">
                            <label>Products</label>
                            <ng-select [multiple]="true"
                                       [items]="exampleData"
                                       [disabled]="disabled"
                                       (data)="refreshValue($event)"
                                       (selected)="selected($event)"
                                       (removed)="removed($event)"
                                       [active]="productActiveName"
                                       placeholder="No product selected"></ng-select>
                        </div>
                        <div class="form-group">
                            <label>Styles</label>
                            <ng-select [multiple]="true"
                                       [items]="styleData"
                                       [disabled]="disabled"
                                       (data)="refreshValue($event)"
                                       (selected)="styleSelected($event)"
                                       (removed)="styleRemoved($event)"
                                       [active]="styleActiveName"
                                       placeholder="No styles selected"></ng-select>
                        </div>
                        <div class="form-group">
                            <p><b>Status</b></p>
                            <label class="switch" *ngIf="showDevicesEdit.status == 1">
                                <input type="checkbox" [checked]="myStatus !== 0 && getStatus === true"
                                       [disabled]="myStatus === 0 || getStatus === false" name="editstatus"
                                       #editstatus="ngModel"
                                       [(ngModel)]="showDevicesEdit.status">
                                <span class="slider round"></span>
                            </label>
                            <label class="switch" *ngIf="showDevicesEdit.status == 0">
                                <input type="checkbox" name="editstatus" #editstatus="ngModel"
                                       [disabled]="myStatus === 0 || getStatus === false"
                                       [(ngModel)]="showDevicesEdit.status">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="button_block">
                            <button [disabled]="form.invalid || fileEditImage === false || fileSize == false || fileEditImage2 === false || fileSize2 == false"
                                    type="submit" class="btn btn-primary update button_style">Update
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-body" *ngIf="viewData == 'add'">
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <form #form="ngForm" id="formadd" (ngSubmit)="add(form.value, addProductID, addStylesID)">
                    <ul class="nav nav-tabs">
                        <!--<li class="active"><a data-toggle="tab" href="#home">Description En</a></li>-->
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a (click)="tabs_()" data-toggle="tab" class="tab_button" href="#menuadd{{i}}">{{lang.name}}<img
                                    src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="menuadd{{i}}"
                             class="tab-pane fade"
                             [ngClass]="{'in active':i === 0}">
                            <label for="nameadd_{{ lang.code }}">Name</label>
                            <input
                                    type="text"
                                    class="form-control"
                                    id="nameadd_{{ lang.code }}"
                                    name="nameadd_{{ lang.code }}"
                                    #name_en="ngModel"
                                    [(ngModel)]="name_en.value"
                                    autocomplete="off"
                                    required
                                    minlength="1"
                                    maxlength="255"
                                    placeholder="Device name"
                            >

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="imeinumber">Imei Number</label>
                        <input type="text"
                               id="imeinumber"
                               name="imeinumber"
                               class="form-control"
                               #imeinumber="ngModel"
                               placeholder="imei number.."
                               required
                               [(ngModel)]="imeinumber.value"
                               minlength="16"
                               pattern="^[A-Za-z-_\d]+$"
                               autocomplete="off"
                        >
                        <span *ngIf="imeinumber.invalid && (imeinumber.dirty || imeinumber.touched)">
                          <span class="text-danger" *ngIf="imeinumber.errors.required">
                            Imei Number is required.
                          </span>
                          <span class="text-danger" *ngIf="imeinumber.errors.pattern">
                            Imei Number is invalid.
                          </span>
                          <span class="text-danger" *ngIf="imeinumber.errors.minlength">
                            Imei Number must be at least 16 characters long.
                          </span>
                         </span>
                    </div>
                    <img src="{{img_path_by_live}}" *ngIf="this.img_path_by_live !== ''"
                         style="max-width: 150px; margin-bottom: 10px">
                    <div class="form-group">
                        <label for="selectFile">Live Image</label>
                        <input
                                type="file"
                                id="selectFile"
                                name="selectFile"
                                class="form-control"
                                required
                                #addimage
                                (change)="onImageChangeFromFile($event)"
                        >
                        <span class="text-danger" *ngIf="fileEditImage === false">Image file type is not valid</span>
                        <span class="text-danger" *ngIf="fileSize === false">Max size 1mb</span>
                    </div>
                    <img src="{{img_path_by_session}}" *ngIf="this.img_path_by_session !== ''"
                         style="max-width: 150px; margin-bottom: 10px">
                    <div class="form-group">
                        <label for="selectFileLive">Session Image</label>
                        <input
                                type="file"
                                id="selectFileLive"
                                name="selectFileLive"
                                class="form-control"
                                required
                                #addimageLive
                                (change)="onImageChangeFromFileLive($event)"
                        >
                        <span class="text-danger" *ngIf="fileEditImage2 === false">Image file type is not valid</span>
                        <span class="text-danger" *ngIf="fileSize2 === false">Max size 1mb</span>
                    </div>
                    <div class="form-group" style="margin-top: 10px">
                        <label>Products</label>
                        <ng-select [multiple]="true"
                                   [items]="exampleData"
                                   [disabled]="disabled"
                                   (data)="refreshValue($event)"
                                   (selected)="addselected($event)"
                                   (removed)="addremoved($event)"
                                   placeholder="No product selected"></ng-select>
                    </div>
                    <div class="form-group" style="margin-top: 10px">
                        <label>Styles</label>
                        <ng-select [multiple]="true"
                                   [items]="styleData"
                                   [disabled]="disabled"
                                   (data)="refreshValue($event)"
                                   (selected)="addStyleselected($event)"
                                   (removed)="addStyleremoved($event)"
                                   placeholder="No styles selected"></ng-select>
                    </div>
                    <div class="form-group">
                        <p><b>Status</b></p>
                        <label class="switch">
                            <input type="checkbox" name="addstatus" #addstatus="ngModel" [(ngModel)]="addstatus.value">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="button_block">
                        <button [disabled]="form.invalid || recuared_image == -1 || recuared_image2 == -1" type="submit"
                                class="btn save btn-success button_style">Create
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>