<div *ngIf="images === undefined" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="images">
    <div class="box">
        <div class="box-header">
            <ol class="breadcrumb">
                <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li>Images</li>
            </ol>
            <button class="search-open">
                <i class="fa fa-search search-icon" aria-hidden="true"></i>
            </button>
        </div>

        <div class="box-body">
            <div class="row">
                <div class="search col-md-10">
                    <div class="fadeIn animated" id="search-toggle">
                        <form class="form-inline" id="form" #form="ngForm"
                              (ngSubmit)="search(form.value)">
                            <div class="form-group">
                                <input type="text" minlength="3" required [(ngModel)]="search_name.value"
                                       #search_name="ngModel" [disabled]="no_result === true"
                                       name="search" class="form-control"
                                       placeholder="Name">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-flat" [disabled]="form.invalid || no_result === true">Go!</button>
                                <button type="reset" class="btn btn-danger" (click)="refresh()">Reset</button>
                                <button type="button" class="btn btn-info" (click)="filter('sort', 'ASC')"
                                        *ngIf="sortType === 'NORMAL'" [disabled]="no_result === true || messageSearch">
                                    Sort &nbsp;<span class="glyphicon glyphicon-sort sort_icon"></span>
                                </button>
                                <button type="button" class="btn btn-info" (click)="filter('sort', 'DESC')"
                                        *ngIf="sortType === 'ASC'" [disabled]="no_result === true || messageSearch">
                                    Sort &nbsp;<span class="glyphicon glyphicon-sort-by-attributes sort_icon"></span>
                                </button>
                                <button type="button" class="btn btn-info" (click)="filter('sort', '')"
                                        *ngIf="sortType === 'DESC'" [disabled]="no_result === true || messageSearch">
                                    Sort &nbsp;<span class="glyphicon glyphicon-sort-by-attributes-alt sort_icon"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="callout callout-warning col-md-12" *ngIf="no_result">
                <p>{{no_result_mejjige}}</p>
            </div>
            <div *ngIf="message" class="alert alert-success col-md-12">
                {{message}}
            </div>
            <div *ngIf="messageError" class="alert alert-danger col-md-12">{{messageError}}</div>
            <div class="alert alert-info no_result_div col-md-12" *ngIf="messageSearch">
                <p class="no_result">{{messageSearch}} <span style="color: #222d32; cursor: pointer;" (click)="refresh()">Go to List</span></p>
            </div>
                <div class="row">
                <div class="hover01 column" *ngIf="!messageSearch && !no_result">
                    <div class="arlicll" *ngFor="let image of images">
                        <figure><img src="{{image.uri}}" alt="{{image.name}}" class="scream"/></figure>
                        <span>                  <ul class="icons_block">
                            <li> <i class="fa fa-eye" title="Show"
                                    data-toggle="modal" data-target="#myModal"
                                    (click)="open(image)"></i></li>
                        </ul></span>
                    </div>
                    {{image_size_funct()}}
                </div>
                <div *ngIf="!messageSearch" class="col-md-12">
                    <ul class="pagination" *ngIf="pagination.length !== 1 && this.no_result === false">
                        <li [ngClass]="{'disabled':paginDiss === 1}"><a
                                (click)="last_first_page('first')"><<</a></li>
                        <li [ngClass]="{'disabled':paginDiss === 1}"><a
                                (click)="prev_next('prev')"><</a></li>
                        <li *ngFor="let page of pagination"
                            [ngClass]="{'active':paginDiss === page}"
                        >
                            <a (click)="paginationData(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a
                                (click)="prev_next('next')">></a></li>
                        <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a
                                (click)="last_first_page('last')">>></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" *ngIf="viewData == 'view'">View</h4>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="viewData == 'view'">
                <img src="{{showCategory.uri}}" class="image" alt="{{showCategory.name}}"/>
                <div [@input_animations]="">
                <div class="input_vew_margin form-group row">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn viw_Info_button disabled">Name</button>
                        </div>
                        <input disabled type="text" class="form-control form-control-sm" value="{{showCategory.name}}">
                    </div>
                </div>
                <div *ngIf="showCategory.status === 1" class="input_vew_margin form-group row">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn viw_Info_button disabled">Status</button>
                        </div>
                        <input disabled type="text" class="form-control form-control-sm" value="Enabled">
                    </div>
                </div>
                <div *ngIf="showCategory.status === 0" class="input_vew_margin form-group row">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn viw_Info_button disabled">Status</button>
                        </div>
                        <input disabled type="text" class="form-control form-control-sm" value="Disabled">
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>
</div>