<div *ngIf="labels == undefined" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="labels">
    <div class="row" *ngIf="language_">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li>Labels</li>
                    </ol>
                    <button
                            type="button" class="btn btn-sm btn-success addButton" *ngIf="user_type === 'administrator'"
                            (click)="openAddModal()" data-toggle="modal" data-target="#myModal"
                    >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add
                    </button>
                </div>
                <div class="box-body">
                    <div class="callout callout-warning" *ngIf="no_result">
                        <p>{{no_result_mejjige}}</p>
                    </div>
                    <div [@degriss]="degriss" class="alert alert-success">{{message}}</div>
                    <div *ngIf="messageError" class="alert alert-danger">{{messageError}}</div>
                    <table class="table table-hover table-bordered data-table" *ngIf="!no_result">
                        <thead>
                        <tr>
                            <th>Input</th>
                            <th *ngFor="let code of language_">{{code.code}}</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let label of labels, let i = index">
                            <td>{{ label[0].input }}</td>
                            <td *ngFor="let trans of label, let j = index ">{{ trans.translation }}</td>
                            <td class="action">
                                <a>
                                    <i class="fa fa-eye" title="Show"
                                       data-toggle="modal" data-target="#myModal"
                                       (click)="openModal(label[0].id)"></i>
                                </a>
                                <a *ngIf="user_type === 'administrator' || user_type === 'editor'">
                                    <i class="fa fa-pencil" title="Edit" (click)="openEdit(label[0].id)"
                                       data-toggle="modal" data-target="#myModal"></i>
                                </a>
                                <a *ngIf="user_type === 'administrator'" (click)="deleteId(label[0].id)">
                                    <i class="fa fa-times" title="Delete"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/.col-->
    </div><!--/.row-->

</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 *ngIf="viewData=='view'" class="modal-title">View</h4>
                <h4 *ngIf="viewData=='edit'" class="modal-title">Label Edit</h4>
                <h4 *ngIf="viewData=='add'" class="modal-title">New Label</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" *ngIf="viewData == 'view'">
                <div *ngIf="viewlabel == null" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngIf="viewlabel != null">
                    <ul class="nav nav-tabs">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a (click)="tabs_()" class="tab_button" data-toggle="tab" href="#view{{i}}">
                                {{lang.name}}<img src="{{lang.image.uri}}" alt="{{lang.name}}">
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="view{{i}}" class="tab-pane fade deviceViewTab"
                             [ngClass]="{'in active':i === 0}">
                            <p>
                                <b>Translation: </b>
                                       {{onelabel[i].translation}}
                            </p>
                        </div>
                    </div>
                    <div [@input_animations]="">
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Input</button>
                            </div>
                            <input disabled type="text" class="form-control form-control-sm" value="{{onelabel[0].input}}">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="modal-body" *ngIf="viewData == 'edit'">
                <div *ngIf="showlabel == null" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <div *ngIf="showlabel != null">
                    <form #form="ngForm" id="formedit" (ngSubmit)="update(form.value, showlabel[0][0].id)">
                        <div class="form-group">
                            <label for="input">Input</label>
                            <input type="text"
                                   id="input"
                                   class="form-control"
                                   [value]="showlabel[0][0].input"
                                   name="input"
                                   #name="ngModel"
                                   required
                                   [(ngModel)]="showlabel[0][0].input"
                                   minlength="1"
                                   autocomplete="off"
                            />
                        </div>
                        <div class="form-group">
                            <ul class="nav nav-tabs">
                                <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                                    <a (click)="tabs_()" class="tab_button" data-toggle="tab" href="#menuedit{{i}}">
                                        {{lang.name}}<img src="{{lang.image.uri}}" alt="{{lang.name}}">
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="menuedit{{i}}"
                                     class="tab-pane fade"
                                     [ngClass]="{'in active':i === 0}">
                                    <label for="name_{{ lang.code }}">Name</label>
                                    <input type="text"
                                           id="name_{{ lang.code }}"
                                           class="form-control"
                                           [value]="showlabel[0][i].translation"
                                           name="name_{{ lang.code }}"
                                           #name="ngModel"
                                           required
                                           [(ngModel)]="showlabel[0][i].translation"
                                           minlength="1"
                                           autocomplete="off"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="button_block">
                            <button class="btn btn-primary update button_style">Update</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-body" *ngIf="viewData == 'add'">
                <div class="alert alert-danger" *ngIf="messageError_modal">{{messageError_modal}}</div>
                <form #form="ngForm" id="formadd" (ngSubmit)="add(form.value)">
                    <div class="form-group">
                        <label for="addkeys">Input</label>
                        <input type="text"
                               id="addkeys"
                               name="addkeys"
                               class="form-control"
                               #addkeys="ngModel"
                               placeholder="Input.."
                               required
                               ngModel
                               minlength="1"
                               autocomplete="off"
                        >
                    </div>
                    <div class="form-group">
                        <ul class="nav nav-tabs">
                            <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                                <a (click)="tabs_()" class="tab_button" data-toggle="tab" href="#menuadd{{i}}">
                                    {{lang.name}}<img src="{{lang.image.uri}}" alt="{{lang.name}}">
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="menuadd{{i}}" class="tab-pane fade"
                                 [ngClass]="{'in active':i === 0}">
                                <label for="nameadd_{{ lang.code }}">Name</label>
                                <input type="text"
                                       id="nameadd_{{ lang.code }}"
                                       name="add_name_{{ lang.code }}"
                                       class="form-control"
                                       #addname="ngModel"
                                       placeholder="Label name.."
                                       required
                                       ngModel
                                       minlength="1"
                                       autocomplete="off"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="button_block">
                        <button class="btn save btn-success button_style" [disabled]="form.invalid" type="submit">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
