<div *ngIf="!language" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="language">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li>Languages</li>
                    </ol>
                    <button
                            type="button" class="btn btn-sm btn-success addButton"
                            *ngIf="user_type === 'administrator'"
                            (click)="openAddModal()" data-toggle="modal" data-target="#myModal"
                    >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add
                    </button>

                </div>

                <div class="box-body">
                    <div [@degriss]="degriss" class="alert alert-success">{{message}}</div>
                    <div *ngIf="messageError" class="alert alert-danger">{{messageError}}</div>
                    <div class="scroll_table">
                        <table class="table table-hover table-bordered data-table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Images</th>
                                <th>Code</th>
                                <th>Status</th>
                                <th>Default</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let lang of language">
                                <td>{{lang.name}}</td>
                                <td *ngIf="lang.image.uri !== undefined">
                                    <img class="img-responsive"
                                         src="{{lang.image.uri}}" alt="{{lang.image.name}}"
                                         title="{{lang.image.name}}"
                                         style="width: 35px"
                                    >
                                </td>
                                <td>{{lang.code}}</td>
                                <td>
                                    <label class="switch" *ngIf="lang.status == 1">
                                        <input type="checkbox" [disabled]="disablestatus == lang.id" checked
                                               name="editstatus" #editstatus="ngModel" [(ngModel)]="lang.status"
                                               (change)="changeStatus(editstatus.value, lang.id)">
                                        <span class="slider round"></span>
                                    </label>
                                    <label class="switch" *ngIf="lang.status == 0">
                                        <input type="checkbox" [disabled]="disablestatus == lang.id" name="editstatuss"
                                               #editstatuss="ngModel" [(ngModel)]="lang.status"
                                               (change)="changeStatus(editstatuss.value, lang.id)">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="switch" *ngIf="lang.default == 1">
                                        <input type="checkbox" [disabled]="disablestatus == lang.id" checked
                                               name="editdefault" #editdefault="ngModel"
                                               [(ngModel)]="lang.default"
                                               (change)="changeDefault(editdefault.value, lang.id)">
                                        <span class="slider round"></span>
                                    </label>
                                    <label class="switch" *ngIf="lang.default == 0">
                                        <input type="checkbox" [disabled]="disablestatus == lang.id" name="editdefaultt"
                                               #editdefaultt="ngModel"
                                               [(ngModel)]="lang.default"
                                               (change)="changeDefault(editdefaultt.value, lang.id)">
                                        <span class="slider round"></span>
                                    </label>
                                </td>
                                <td class="action">
                                    <a>
                                        <i class="fa fa-eye" title="Show"
                                           data-toggle="modal" data-target="#myModal"
                                           (click)="openModal(lang)"
                                        ></i>
                                    </a>
                                    <a *ngIf="user_type === 'administrator' || user_type === 'editor'">
                                        <i class="fa fa-pencil" title="Edit"
                                           data-toggle="modal" data-target="#myModal"
                                           (click)="openEditModal(lang.id)"></i>
                                    </a>
                                    <a *ngIf="user_type === 'administrator'">
                                        <i class="fa fa-times" title="Delete"
                                           data-toggle="modal" data-target="#myModal"
                                           (click)="openDeleteModal(lang)"></i>
                                    </a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--/.col-->
    </div><!--/.row-->
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" *ngIf="viewData == 'view' || viewData == 'edit' || viewData == 'add'">
                <h4 class="modal-title" *ngIf="viewData == 'view'">View</h4>
                <h4 class="modal-title" *ngIf="viewData == 'edit'">Language Edit</h4>
                <h4 class="modal-title" *ngIf="viewData == 'add'">New language</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-header modal-danger" *ngIf="viewData == 'delete'">
                <h4 class="modal-title" *ngIf="viewData == 'delete'">Delete data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <!-- Modal body -->
            <div class="modal-body" *ngIf="viewData == 'view'">
                <div *ngIf="showLanguage == null" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-responsive"
                             src="{{showLanguage.image.uri}}" alt="{{showLanguage.image.name}}"
                             title="{{showLanguage.image.name}}"
                             style="max-width: 150px; margin: 2%;"
                        >
                    </div>
                    <div class="col-md-8">
                        <div [@input_animations]="">
                            <div class="input_vew_margin form-group row">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn viw_Info_button disabled">Name</button>
                                    </div>
                                    <input disabled type="text" class="form-control form-control-sm"
                                           value="{{showLanguage.name}}">
                                </div>
                            </div>
                            <div class="input_vew_margin form-group row">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn viw_Info_button disabled">Code</button>
                                    </div>
                                    <input disabled type="text" class="form-control form-control-sm"
                                           value="{{showLanguage.code}}">
                                </div>
                            </div>
                            <div *ngIf="showLanguage.status === 1" class="input_vew_margin form-group row">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn viw_Info_button disabled">Status</button>
                                    </div>
                                    <input disabled type="text" class="form-control form-control-sm" value="Enabled">
                                </div>
                            </div>
                            <div *ngIf="showLanguage.status === 0" class="input_vew_margin form-group row">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn viw_Info_button disabled">Status</button>
                                    </div>
                                    <input disabled type="text" class="form-control form-control-sm" value="Disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body" *ngIf="viewData == 'edit'">
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <div *ngIf="!showEdit" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngIf="showEdit">
                    <form #form="ngForm" (ngSubmit)="onSubmit(showEdit[0].id, form.value, imgActive)">
                        <input disabled class="form-control" type="hidden" #id id="id" name="id"
                               [value]="showEdit[0].id">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text"
                                   id="name"
                                   name="name"
                                   class="form-control"
                                   required
                                   minlength="3"
                                   [(ngModel)]="showEdit[0].name"
                                   [value]="showEdit[0].name"
                                   #name="ngModel"
                                   autocomplete="off"
                                   pattern="^[A-Za-z\s]+$"
                            >
                            <span *ngIf="name.invalid && (name.dirty || name.touched)">
                                  <span class="text-danger" *ngIf="name.errors.required">
                                    Name is required.
                                  </span>
                                  <span class="text-danger" *ngIf="name.errors.pattern">
                                     Invalid name
                                  </span>
                                  <span class="text-danger" *ngIf="name.errors.minlength">
                                    Invalid Name length (min 3 symbol)
                                  </span>
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="name">Code</label>
                            <input type="text"
                                   id="code"
                                   name="code"
                                   class="form-control"
                                   required
                                   minlength="2"
                                   maxlength="3"
                                   [(ngModel)]="showEdit[0].code"
                                   [value]="showEdit[0].code"
                                   #code="ngModel"
                                   autocomplete="off"
                                   pattern="^[A-Za-z\s]+$"
                            >
                            <span *ngIf="code.invalid && (code.dirty || code.touched)">
                                  <span class="text-danger" *ngIf="code.errors.required">
                                    Code is required.
                                  </span>
                                  <span class="text-danger" *ngIf="code.errors.pattern">
                                     Code is invalid.
                                  </span>
                                  <span class="text-danger" *ngIf="code.errors.minlength">
                                    Code must be at least 2 characters long.
                                  </span>
                            </span>
                        </div>
                        <img src="{{img_path}}" *ngIf="this.img_path !== ''" style="max-width: 150px">
                        <div class="form-group">
                            <label for="selectFile">Image</label>
                            <input
                                    type="file"
                                    id="selectFile"
                                    name="selectFile"
                                    class="form-control"
                                    required
                                    #addimage
                                    (change)="onImageChangeFromFile($event)"
                            >
                            <span class="text-danger"
                                  *ngIf="fileEditImage === false">Image file type is not valid</span>
                            <span class="text-danger" *ngIf="fileSize === false">Max size 1mb</span>
                        </div>

                        <div class="form-group">
                            <p><b>Status</b></p>
                            <label class="switch" *ngIf="showEdit[0].status == 1">
                                <input type="checkbox" checked name="editstatus" #editstatus="ngModel"
                                       [(ngModel)]="showEdit[0].status">
                                <span class="slider round"></span>
                            </label>
                            <label class="switch" *ngIf="showEdit[0].status == 0">
                                <input type="checkbox" name="editstatus" #editstatus="ngModel"
                                       [(ngModel)]="showEdit[0].status">
                                <span class="slider round"></span>
                            </label>
                        </div>

                        <div class="button_block">
                            <button [disabled]="form.invalid || fileEditImage === false || fileSize === false"
                                    type="submit" class="btn btn-primary update button_style">Update
                            </button>

                        </div>

                    </form>
                </div>
            </div>

            <div class="modal-body" *ngIf="viewData == 'add'">
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <form #form="ngForm" id="formadd" (ngSubmit)="addLanguage(form.value, imgActive)">
                    <div class="form-group">
                        <label for="addname">Name</label>
                        <input type="text"
                               id="addname"
                               name="addname"
                               class="form-control"
                               required
                               minlength="3"
                               [(ngModel)]="addname.value"
                               #addname="ngModel"
                               autocomplete="off"
                               pattern="^[A-Za-z\s]+$"
                        >
                        <span *ngIf="addname.invalid && (addname.dirty || addname.touched)">
                                  <span class="text-danger" *ngIf="addname.errors.required">
                                    Name is required.
                                  </span>
                                  <span class="text-danger" *ngIf="addname.errors.pattern">
                                     Invalid name
                                  </span>
                                  <span class="text-danger" *ngIf="addname.errors.minlength">
                                    Invalid Name length (min 3 symbol)
                                  </span>
                            </span>
                    </div>

                    <div class="form-group">
                        <label for="addcode">Code</label>
                        <input type="text"
                               id="addcode"
                               name="addcode"
                               class="form-control"
                               required
                               minlength="2"
                               maxlength="3"
                               [(ngModel)]="addcode.value"
                               #addcode="ngModel"
                               autocomplete="off"
                               pattern="^[A-Za-z\s]+$"
                        >
                        <span *ngIf="addcode.invalid && (addcode.dirty || addcode.touched)">
                                  <span class="text-danger" *ngIf="addcode.errors.required">
                                    Code is required.
                                  </span>
                                  <span class="text-danger" *ngIf="addcode.errors.pattern">
                                     Code is invalid.
                                  </span>
                                  <span class="text-danger" *ngIf="addcode.errors.minlength">
                                    Code must be at least 2 characters long.
                                  </span>
                            </span>
                    </div>
                    <img src="{{img_path}}" *ngIf="this.img_path !== ''" style="max-width: 150px">
                    <div class="form-group">
                        <label for="selectFile">Image</label>
                        <input
                                type="file"
                                name="selectFile"
                                class="form-control"
                                required
                                #addimage
                                (change)="onImageChangeFromFile($event)"
                        >
                        <span class="text-danger" *ngIf="fileEditImage === false">Image file type is not valid</span>
                        <span class="text-danger" *ngIf="fileSize === false">Max size 1mb</span>
                    </div>

                    <div class="button_block">
                        <button [disabled]="form.invalid || recuared_image == -1" type="submit"
                                class="btn save btn-success button_style">Create
                        </button>
                    </div>

                </form>


            </div>

            <div class="modal-body modal-danger-body" *ngIf="viewData == 'delete'">
                <h4>
                    This language will be deleted and you'll no longer be able to find it.
                    You can also edit this language if you just want to change something.
                </h4>
            </div>

            <div class="modal-footer modal-danger" *ngIf="viewData == 'delete'">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="deleteId(showLanguage.id)">Delete</button>
            </div>

        </div>
    </div>
</div>