<div *ngIf="make_up_style === undefined" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="make_up_style">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li>Makeup methods</li>
                    </ol>
                    <div *ngFor="let language of language_" style="display: inline-block;float: right;">
                        <img *ngIf="language.status === 1" class="language_icon"
                             src="{{language.image.uri}}"
                             alt="{{language.image.name}}"
                             title="{{language.image.name}}"
                             (click)="change_language(language.code)"
                             [ngClass]="(language.code ==  lang)? 'active_language' : ''"/>
                    </div>
                </div>
                <div class="box-body">
                    <div [@degriss]="degriss" class="alert alert-success col-md-12">
                        {{message}}
                    </div>
                    <div class="callout callout-warning col-md-12" *ngIf="no_result">
                        <p>{{no_result_mejjige}}</p>
                    </div>
                    <div *ngIf="messageError" class="alert alert-danger col-md-12">{{messageError}}</div>
                    <table class="table table-hover table-bordered data-table" *ngIf="no_result !== true">
                        <thead>
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Image</th>
                            <th class="text-center">Status</th>
                            <th class="text-center" *ngIf="user_type === 'administrator' || user_type === 'editor'">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let style of make_up_style">
                            <td style="vertical-align: middle" class="text-center">
                                <p title="{{style.translation[0] === undefined ? '' : style.translation[0].name}}"
                                   data-toggle="tooltip" data-placement="bottom"
                                   class="hover_tolltip">
                                    {{style.translation[0] === undefined ? '' : style.translation[0].name}}
                                </p>
                            </td>
                            <td *ngIf="style.images !== null" class="hover_tolltip text-center" style="vertical-align: middle">
                                <img title="<img  src='{{style.images.uri}}'
                                alt='' class='image_size_tolltip'>" data-toggle="tooltip"
                                        src="{{style.images.uri}}"
                                        alt="" class="image_size_brand">
                            </td>
                            <td *ngIf="style.images === null">
                                No selected image
                            </td>
                            <td style="vertical-align: middle" class="text-center">
                                <label class="switch" *ngIf="style.status == 1">
                                    <input type="checkbox" checked
                                           [disabled]="disablestatus == style.id || user_type == 'reviewer'"
                                           name="editstatus" #editstatus="ngModel"
                                           [(ngModel)]="style.status"
                                           (change)="changeStatus(editstatus.value, style.id)">
                                    <span class="slider round"></span>
                                </label>
                                <label class="switch" *ngIf="style.status == 0">
                                    <input type="checkbox"
                                           [disabled]="disablestatus == style.id || user_type == 'reviewer'"
                                           name="editstatuss" #editstatuss="ngModel"
                                           [(ngModel)]="style.status"
                                           (change)="changeStatus(editstatuss.value, style.id)">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td class="text-center" style="vertical-align: middle" *ngIf="user_type === 'administrator' || user_type === 'editor'"><a style="padding: 0 7px">
                                    <i class="fa fa-pencil" title="Edit"
                                       data-toggle="modal" data-target="#myModal"
                                       (click)="openEditModal(style.id)"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--/.col-->
    </div><!--/.row-->
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Make up methods Edit</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
             <!--Modal body-->
            <div class="modal-body">
                <div *ngIf="!editStyle" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <div *ngIf="editStyle">
                    <form #form="ngForm" id="formedit" (ngSubmit)="onSumbit(form.value, editStyle.id)">
                        <div class="form-group">
                            <ul class="nav nav-tabs">
                                <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                                    <a (click)="tabs_()" data-toggle="tab" class="tab_button" href="#menua{{i}}">{{lang.name}}<img
                                            src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="menua{{i}}" class="tab-pane fade"
                                     [ngClass]="{'in active':i === 0}">
                                    <label for="name_{{ lang.code }}">Name</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="name_{{ lang.code }}"
                                            [value]="editStyle.translation[i] === undefined ? '' :editStyle.translation[i].name"
                                            name="name_{{ lang.code }}"
                                            #name_enn="ngModel"
                                            required
                                            [(ngModel)]="editStyle.translation[i] === undefined ? '' :editStyle.translation[i].name"
                                            minlength="1"
                                            maxlength="255"
                                            autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <img src="{{img_path}}" *ngIf="this.img_path !== ''" style="max-width: 150px">
                        <img src="{{editStyle.images.uri}}" *ngIf="this.img_path === ''" style="max-width: 150px">
                        <div class="form-group">
                            <label for="selectFile">Image</label>
                            <input
                                    type="file"
                                    id="selectFile"
                                    name="selectFile"
                                    class="form-control"
                                    required
                                    #addimage
                                    (change)="onImageChangeFromFile($event)"
                            >
                            <span class="text-danger" *ngIf="fileEditImage === false">Image file type is not valid</span>
                            <span class="text-danger" *ngIf="fileSize === false">Max size 1mb</span>
                        </div>

                        <div class="form-group">
                            <p><b>Status</b></p>
                            <label class="switch" *ngIf="editStyle.status == 1">
                                <input type="checkbox" checked name="editstatus" #editstatus="ngModel"
                                       [(ngModel)]="editStyle.status">
                                <span class="slider round"></span>
                            </label>
                            <label class="switch" *ngIf="editStyle.status == 0">
                                <input type="checkbox" name="editstatus" #editstatus="ngModel"
                                       [(ngModel)]="editStyle.status">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <div class="button_block">
                        <button [disabled]="form.invalid || fileEditImage === false || fileSize === false" type="submit" class="btn btn-primary update button_style">Update</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>