<div *ngIf="playLists === undefined" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="playLists">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li *ngIf="view === true">PlayLists</li>
                        <li *ngIf="view === false"><a class="cursor-pointer" (click)="go_playlist()">Playlist </a><span>/ {{playList_id}}</span></li>
                    </ol>
                    <button type="button" class="btn btn-sm btn-success addButton" *ngIf="user_type === 'administrator' && view === true" (click)="openAddModal()"
                        data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add
                    </button>
                    <button type="button" class="btn btn-success" *ngIf="(user_type === 'administrator' || user_type === 'editor') && view === false" data-toggle="modal" data-target="#myModal" (click)="open_for_new_video()">Add  video
                    </button>
                </div>
                <div class="box-body">
                    <div class="callout callout-warning" *ngIf="no_result">
                        <p>{{no_result_mejjige}}</p>
                    </div>
                    <div [@degriss]="degriss" class="alert alert-success">{{message}}</div>
                    <div *ngIf="messageError" class="alert alert-danger">{{messageError}}</div>
                    <div class="row">
                    <div *ngIf="view && !no_result">
                        <div class="col-md-4" *ngFor="let playList of playLists">
                            <div class="thumbnail">
                                <div class="position">
                                    <video height="240" class="video_size">
                                        <source src="{{playList.movie['uri']}}" type="video/{{playList.movie['format']}}">
                                    </video>
                                    <div class="play_list_icon" (click)="edit(playList.id)">

                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                        <span>&nbsp;Play List {{playList.id}}</span>
                                    </div>
                                    <div class="absolute" *ngIf="user_type === 'administrator'">
                                        <i class="fa fa-times" title="Delete" aria-hidden="true" (click)="delete(playList.id)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <ul id="list" *ngIf="view === false && !no_result">
                        <li class="col-md-custom-5" *ngFor="let list of edit_lpaylist" id="{{list.movie['id']}}">
                            <div class="thumbnail">
                                <div class="position">
                                    <video height="240" class="video_size">
                                        <source src="{{list.movie['uri']}}" type="video/{{list.movie['format']}}">
                                    </video>
                                    <div class="play_icon">
                                        <div class="cursor-pointer" data-toggle="modal" data-target="#myModal" (click)="view_video(list.movie.id)">
                                            <span>{{list.ordering}} Play </span>
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="absolute" *ngIf="user_type === 'administrator'">
                                        <i class="fa fa-times" title="Delete" aria-hidden="true" (click)="delete_video(list.id, list.movie.id)"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {{ reloadDragaDropEvents() }}
                    </ul>
                    </div>
                    <ul class="pagination col-md-12" *ngIf="pagination.length !== 1 && this.no_result === false && view === true">
                        <li [ngClass]="{'disabled':paginDiss === 1}">
                            <a (click)="last_first_page('first')">
                                <<</a>
                        </li>
                        <li [ngClass]="{'disabled':paginDiss === 1}">
                            <a (click)="prev_next('prev')">
                                <</a>
                        </li>
                        <li *ngFor="let page of pagination" [ngClass]="{'active':paginDiss === page}">
                            <a (click)="paginationData(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{'disabled': paginDiss === this.lastPage}">
                            <a (click)="prev_next('next')">></a>
                        </li>
                        <li [ngClass]="{'disabled': paginDiss === this.lastPage}">
                            <a (click)="last_first_page('last')">>></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>

<div class="modal fade" id="myModal" (click)="stop_button()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" *ngIf="viewData == 'view'">View</h4>
                <h4 class="modal-title" *ngIf="viewData == 'add'">New Play List</h4>
                <h4 class="modal-title" *ngIf="viewData == 'edit'">Play List Edit</h4>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="stop_button()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="viewData == 'add'">
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <div *ngIf="no_video === true" class="callout callout-warning">
                    <p>Please upload a video file</p>
                </div>
                <div *ngIf="videos === undefined" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div class="col-md-12" *ngIf="videos != undefined && no_video != true ">
                    <div class="col-md-4" *ngFor="let video of videos">
                        <div class="thumbnail">
                            <video height="100" (click)="selected(video.id)" class="video_size" [ngClass]="{
                                    'border-false':this.send_video_ids.indexOf(video.id) === -1,
                                    'border-true':this.send_video_ids.indexOf(video.id) !== -1}">
                                <source src="{{video.uri}}" type="video/{{video.format}}">
                                <object data="video.swf" type="application/x-shockwave-flash">
                                    <!-- добавляем видеоконтент для устаревших браузеров, в которых нет поддержки элемента video -->

                                    <param name="movie" value="video.swf">
                                </object>
                            </video>
                        </div>
                    </div>
                </div>
                <div class="send_button">
                    <button type="button" *ngIf="videos !== undefined && no_video != true" [disabled]="send_video_ids.length === 0" class="btn btn-success" (click)="new_playlist()">Save
                    </button>
                </div>
            </div>

            <div class="modal-body" *ngIf="viewData == 'view'">
                <div *ngIf="showCategory[0] == null" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngFor="let showCategory of showCategory">
                    <video width="320" height="240" controls="controls" class="video_size" id="stop">
                        <source src="{{showCategory.uri}}" type="video/{{showCategory.format}}">
                        <object data="video.swf" type="application/x-shockwave-flash">
                            <param name="movie" value="video.swf">
                        </object>
                    </video>
                    <div [@input_animations]="">
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Name</button>
                            </div>
                            <input disabled class="form-control form-control-sm" type="text"
                                   value="{{showCategory.name}}">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Format</button>
                            </div>
                            <input disabled class="form-control form-control-sm" type="text"
                                   value="{{showCategory.format}}">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Duration</button>
                            </div>
                            <input disabled class="form-control form-control-sm" type="text"
                                   value="{{showCategory.duration}}">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row" *ngIf="showCategory.status === 1">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Status</button>
                            </div>
                            <input disabled type="text" class="form-control form-control-sm" value="Enabled">
                        </div>
                    </div>
                    <div class="input_vew_marginbottom form-group row" *ngIf="showCategory.status === 0">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Status</button>
                            </div>
                            <input disabled type="text" class="form-control form-control-sm" value="Disabled">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Updated</button>
                            </div>
                            <input disabled type="text" class="form-control form-control-sm" value="{{showCategory.updated_at}}">
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="modal-body" *ngIf="viewData == 'edit'">
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <div *ngIf="videos[0]=== undefined && no_video_edit !== true" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngIf="no_video_edit === true" class="callout callout-warning">
                    <p>Please upload a video file</p>
                </div>
                <div class="col-md-12" *ngIf="videos">
                    <div class="col-md-4" *ngFor="let video of videos">
                        <div class="thumbnail">
                            <video height="100" (click)="selected(video.id)" class="video_size" [ngClass]="{
                                    'border-false':this.send_video_ids.indexOf(video.id) === -1,
                                    'border-true':this.send_video_ids.indexOf(video.id) !== -1}">
                                <source src="{{video.uri}}" type="video/{{video.format}}">
                                <object data="video.swf" type="application/x-shockwave-flash">
                                    <!-- добавляем видеоконтент для устаревших браузеров, в которых нет поддержки элемента video -->

                                    <param name="movie" value="video.swf">
                                </object>
                            </video>
                        </div>
                    </div>
                </div>
                <div class="send_button">
                    <button type="button" *ngIf="videos[0]!== undefined" [disabled]="send_video_ids.length === 0" class="btn btn-primary" (click)="edit_video()">Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>