<div *ngIf="products === undefined" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="products">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li>Products</li>
                    </ol>
                    <button class="search-open">
                        <i class="fa fa-search search-icon" aria-hidden="true"></i>
                    </button>
                    <a routerLink="/components/product/add">
                        <button
                                type="button" class="btn btn-sm btn-success addButton"
                                *ngIf="user_type === 'administrator'"
                        >
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Add
                        </button>
                    </a>

                    <div *ngFor="let language of language_" style="display: inline-block;float: right;">
                        <img *ngIf="language.status === 1" class="language_icon"
                             src="{{language.image.uri}}"
                             alt="{{language.image.name}}"
                             title="{{language.image.name}}"
                             (click)="change_language(language.code)"
                             [ngClass]="(language.code ==  lang)? 'active_language' : ''"/>
                    </div>

                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="search col-md-12">
                            <div class="fadeIn animated" id="search-toggle">
                                <form class="form-inline" id="form" #form="ngForm"
                                      (ngSubmit)="search(form.value)">
                                    <div class="form-group">
                                        <input type="text" minlength="3" [(ngModel)]="search_name.value"
                                               #search_name="ngModel" name="search" class="form-control"
                                               placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" minlength="3" [(ngModel)]="search_brand.value"
                                               #search_brand="ngModel" name="brand_search" class="form-control"
                                               placeholder="Brand">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" minlength="3" [(ngModel)]="search_device.value"
                                               #search_device="ngModel" name="device_search"
                                               class="form-control"
                                               placeholder="Device">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" minlength="3" [(ngModel)]="search_category.value"
                                               #search_category="ngModel" name="category_search"
                                               class="form-control" placeholder="Category">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" minlength="3" [(ngModel)]="search_sesions.value"
                                               #search_sesions="ngModel" name="session_search"
                                               class="form-control" placeholder="Session">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info btn-flat"
                                                [disabled]="form.invalid || no_result === true">
                                            Go!
                                        </button>
                                        <button type="reset" class="btn btn-danger clearbutton" [disabled]="no_result === true" (click)="refresh()">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="callout callout-warning col-md-12" *ngIf="no_result">
                        <p>{{no_result_mejjige}}</p>
                    </div>
                    <div [@degriss]="degriss" class="alert alert-success col-md-12">{{message}}</div>
                    <div *ngIf="messageError" class="alert alert-danger col-md-12">{{messageError}}</div>
                    <div class="alert alert-info no_result_div col-md-12" *ngIf="messageSearch">
                        <p class="no_result">{{messageSearch}} <span style="color: #222d32; cursor: pointer;" (click)="refresh()">Go to List</span></p>
                    </div>
                    <div class="scroll_table">
                    <table class="table table-hover table-bordered data-table" *ngIf="!messageSearch && !no_result">
                        <thead *ngIf="sort_type_product">
                        <tr>
                            <th>
                                Name
                                <span class="glyphicon glyphicon-sort sort_icon"
                                      (click)="filter('sort','ASC')"
                                      *ngIf="sort_type_product === 'NORMAL'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes sort_icon"
                                      (click)="filter('sort', 'DESC')"
                                      *ngIf="sort_type_product === 'ASC'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt sort_icon"
                                      (click)="filter('sort','')"
                                      *ngIf="sort_type_product === 'DESC'"
                                ></span>
                            </th>
                            <th>
                                Brand
                                <span class="glyphicon glyphicon-sort sort_icon"
                                      (click)="filter('brand_sort', 'ASC')"
                                      *ngIf="sort_type_brand === 'NORMAL'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes sort_icon"
                                      (click)="filter('brand_sort', 'DESC')"
                                      *ngIf="sort_type_brand === 'ASC'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt sort_icon"
                                      (click)="filter('brand_sort', '')"
                                      *ngIf="sort_type_brand === 'DESC'"
                                ></span>
                            </th>
                            <th>
                                Device
                                <span class="glyphicon glyphicon-sort sort_icon"
                                      (click)="filter('device_sort', 'ASC')"
                                      *ngIf="sort_type_device === 'NORMAL'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes sort_icon"
                                      (click)="filter('device_sort', 'DESC')"
                                      *ngIf="sort_type_device === 'ASC'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt sort_icon"
                                      (click)="filter('device_sort', '')"
                                      *ngIf="sort_type_device === 'DESC'"
                                ></span>
                            </th>
                            <th>
                                Category
                                <span class="glyphicon glyphicon-sort sort_icon"
                                      (click)="filter('category_sort', 'ASC')"
                                      *ngIf="sort_type_category === 'NORMAL'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes sort_icon"
                                      (click)="filter('category_sort', 'DESC')"
                                      *ngIf="sort_type_category === 'ASC'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt sort_icon"
                                      (click)="filter('category_sort', '')"
                                      *ngIf="sort_type_category === 'DESC'"
                                ></span>
                            </th>
                            <th>
                                Sessions
                                <span class="glyphicon glyphicon-sort sort_icon"
                                      (click)="filter('session_sort', 'ASC')"
                                      *ngIf="sort_type_session === 'NORMAL'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes sort_icon"
                                      (click)="filter('session_sort', 'DESC')"
                                      *ngIf="sort_type_session === 'ASC'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt sort_icon"
                                      (click)="filter('session_sort', '')"
                                      *ngIf="sort_type_session === 'DESC'"
                                ></span>
                            </th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let product of products" class="infoupdate">
                            <td>
                                <p title="{{product.translation[0] === undefined ? '' : product.translation[0].name}}"
                                   data-toggle="tooltip" data-placement="bottom"
                                   class="hover_tolltip">
                                    {{product.translation[0] === undefined ? '' : product.translation[0].name}}
                                </p>
                            </td>
                            <td *ngIf="product.brands.length == 0"></td>
                            <td *ngIf="product.brands.length > 0">
                                <div *ngFor="let item of product.brands, let i = index" class="tooltipDiv">
                                    <p *ngIf="i <= 1"
                                       title="{{item.translation[0] === undefined ? '' : item.translation[0].name}}"
                                       data-toggle="tooltip" data-placement="bottom"
                                       class="hover_tolltip">
                                        {{item.translation[0] === undefined ? '' : item.translation[0].name}}
                                    </p>
                                </div>
                            </td>
                            <td *ngIf="product.devices.length == 0"></td>
                            <td *ngIf="product.devices.length > 0">
                                <div *ngFor="let item of product.devices, let i = index" class="tooltipDiv">
                                    <p *ngIf="i <= 1"
                                       title="{{item.translation[0] === undefined ? '' : item.translation[0].name}}"
                                       data-toggle="tooltip" data-placement="bottom" class="cursor-pointer">
                                        {{item.translation[0] === undefined ? '' : item.translation[0].name}}
                                    </p>
                                </div>
                            </td>
                            <td *ngIf="product.category.length == 0"></td>
                            <td *ngIf="product.category.length > 0">
                                <div *ngFor="let item of product.category, let i = index" class="tooltipDiv">
                                    <p *ngIf="i <= 1"
                                       title="{{item.translation[0] === undefined ? '' : item.translation[0].name}}"
                                       data-toggle="tooltip" data-placement="bottom" class="cursor-pointer">
                                        {{item.translation[0] === undefined ? '' : item.translation[0].name}}
                                    </p>
                                </div>
                            </td>
                            <td *ngIf="product.sessions.length == 0"></td>
                            <td *ngIf="product.sessions.length > 0">
                                <div *ngFor="let item of product.sessions, let i = index" class="tooltipDiv">
                                    <p *ngIf="i <= 1"
                                       title="{{item.translation[0] === undefined ? '' : item.translation[0].name}}"
                                       data-toggle="tooltip" data-placement="bottom" class="cursor-pointer">
                                        {{item.translation[0] === undefined ? '' : item.translation[0].name}}
                                    </p>
                                </div>
                            </td>
                            <td style="max-width: 95px">
                                <p style="max-width: 160px"
                                   title="{{product.translation[0] === undefined ? '' : product.translation[0].description}}"
                                   data-toggle="tooltip" data-placement="bottom"
                                   class="hover_tolltip">

                                    {{product.translation[0] === undefined ? '' : product.translation[0].description}}
                                </p>
                            </td>
                            <td>
                                <label class="switch" *ngIf="product.status == 1">
                                    <input type="checkbox" checked
                                           [disabled]="disablestatus == product.id || user_type == 'reviewer'"
                                           name="editstatus" #editstatus="ngModel"
                                           [(ngModel)]="product.status"
                                           (change)="changeStatus(editstatus.value, product.id)"
                                            >
                                    <span class="slider round"></span>
                                </label>
                                <label class="switch" *ngIf="product.status == 0">
                                    <input type="checkbox"
                                           [disabled]="disablestatus == product.id || user_type == 'reviewer' || product.brands.length == 0 || product.category.length == 0 || product.sessions.length == 0"
                                           name="editstatuss"
                                           #editstatuss="ngModel"
                                           [(ngModel)]="product.status"
                                           (change)="changeStatus(editstatuss.value, product.id)"
                                            >
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td class="action">
                                <a>
                                    <i class="fa fa-eye" title="Show"
                                       [routerLink]="['/components/products', product.id]"
                                    ></i>
                                </a>
                                <a *ngIf="user_type === 'administrator' || user_type === 'editor'">
                                    <i class="fa fa-pencil" title="Edit"
                                       [routerLink]="['/components/products/edit', product.id]"
                                    ></i>

                                </a>
                                <a *ngIf="user_type === 'administrator'">
                                    <i class="fa fa-times" title="Delete"
                                       (click)="deleteId(product.id)"></i>
                                </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    </div>
                    <div *ngIf="!messageSearch">
                        <ul class="pagination" *ngIf="pagination.length !== 1 && this.no_result === false">
                            <li [ngClass]="{'disabled':paginDiss === 1}"><a
                                    (click)="last_first_page('first')"> << </a>
                            </li>
                            <li [ngClass]="{'disabled':paginDiss === 1}"><a
                                    (click)="prev_next('prev')"> < </a></li>
                            <li *ngFor="let page of pagination"
                                [ngClass]="{'active':paginDiss === page}"
                            >
                                <a (click)="paginationData(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a
                                    (click)="prev_next('next')"> > </a>
                            </li>
                            <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a
                                    (click)="last_first_page('last')"> >> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/.col-->
    </div><!--/.row-->
</div>
