<div *ngIf="!products" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div *ngIf="products">
    <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a [routerLink]="['/components/products']">Products</a></li>
        <li>Product info</li>
    </ol>
    <div class="panel-group" id="accordion">
        <div [@flyInOut]="'in'" style="margin: auto" class="panel panel-default" >
            <div class="panel-heading heading_info">
                <h4 class="panel-title">
                    <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion"
                       href="#collapse1">Name</a>
                </h4>
            </div>
            <div id="collapse1" [ngClass]="{'in': this.amimate !== -1 }" class="panel-collapse collapse">
                <div class="panel-body body_info">
                    <ul class="nav nav-tabs productdetalview">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active productInfo':i === 0}">
                            <a (click)="tabs_()" data-toggle="tab" class="tab_button" href="#name{{i}}">{{lang.name}}<img src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index"
                             id="name{{i}}" class="tab-pane fade" [ngClass]="{'in active':i === 0}">
                            <h4 class="h4_info">{{products.translation[i] === undefined ? '' : products.translation[i].name}} </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [@flyInOut]="'in'" style="margin: auto" class="panel panel-default">
            <div class="panel-heading heading_info">
                <h4 class="panel-title">
                    <a data-toggle="collapse"  class="accordion-toggle" data-parent="#accordion" href="#collapse2">Description</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body body_info">
                    <ul class="nav nav-tabs productdetalview">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a (click)="tabs_()" data-toggle="tab" class="tab_button" href="#description{{i}}">{{lang.name}}<img src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index"
                             id="description{{i}}" class="tab-pane fade" [ngClass]="{'in active':i === 0}">
                            <h4 class="h4_info">{{products.translation[i] === undefined ? '' :
                                products.translation[i].description}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [@flyInOut]="'in'" style="margin: auto" class="panel panel-default">
            <div class="panel-heading heading_info">
                <h4 class="panel-title">
                    <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion"
                       href="#collapse3">Brands</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body body_info">
                    <h4 class="h4_info" *ngIf="products.brands.length == 0">Brand is not selected</h4>
                    <ul class="nav nav-tabs productdetalview" *ngIf="products.brands.length > 0">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a (click)="tabs_()" data-toggle="tab" class="tab_button" href="#brands{{i}}">{{lang.name}}<img src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index"
                             id="brands{{i}}" class="tab-pane fade" [ngClass]="{'in active':i === 0}">
                            <ul  class="selectInfo">
                                <li *ngFor="let item of products.brands" class="selected brandName">{{item.translation[i] === undefined ? '' :
                                    item.translation[i].name}}
                                    <br>

                                    <span *ngIf="item.images">
                                    <img src="{{item.images.uri}}" alt="{{item.images.name}}" class="brandImage">
                                    </span>
                                    <span *ngIf="item.images === null">
                                        <h4 class="h4_info">No brand images</h4>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [@flyInOut]="'in'" style="margin: auto" class="panel panel-default">
            <div class="panel-heading heading_info">
                <h4 class="panel-title">
                    <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#collapse4">Category</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body body_info">
                    <h4 class="h4_info" *ngIf="products.category.length == 0">Category is not selected</h4>

                    <ul class="nav nav-tabs productdetalview" *ngIf="products.category.length > 0">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a (click)="tabs_()" data-toggle="tab" class="tab_button" href="#category{{i}}">{{lang.name}}<img src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index"
                             id="category{{i}}" class="tab-pane fade" [ngClass]="{'in active':i === 0}">
                            <ul *ngFor="let item of products.category" class="selectInfo">
                                <li class="selected">{{item.translation[i] === undefined ? '' :
                                    item.translation[i].name}}

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [@flyInOut]="'in'" style="margin: auto" class="panel panel-default">
            <div class="panel-heading heading_info">
                <h4 class="panel-title">
                    <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#collapse5">Devices</a>
                </h4>
            </div>
            <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body body_info">
                    <h4 class="h4_info" *ngIf="products.devices.length == 0">Device is not selected</h4>

                    <ul class="nav nav-tabs productdetalview" *ngIf="products.devices.length > 0">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a (click)="tabs_()" data-toggle="tab" class="tab_button" href="#devices{{i}}">{{lang.name}}<img src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index"
                             id="devices{{i}}" class="tab-pane fade" [ngClass]="{'in active':i === 0}">
                            <ul *ngFor="let item of products.devices" class="selectInfo">
                                <li class="selected">{{item.translation[i] === undefined ? '' :
                                    item.translation[i].name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [@flyInOut]="'in'" style="margin: auto" class="panel panel-default">
            <div class="panel-heading heading_info">
                <h4 class="panel-title">
                    <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#collapse6">Sessions</a>
                </h4>
            </div>
            <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body body_info">
                    <h4 class="h4_info" *ngIf="products.sessions.length == 0">Session is not selected</h4>

                    <ul class="nav nav-tabs productdetalview" *ngIf="products.sessions.length > 0">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a (click)="tabs_()" data-toggle="tab" class="tab_button" href="#sessions{{i}}">{{lang.name}}<img src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>
                    <div class="tab-content" [@tabsRtigger]="tabs">
                        <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index"
                             id="sessions{{i}}" class="tab-pane fade" [ngClass]="{'in active':i === 0}">
                            <ul *ngFor="let item of products.sessions" class="selectInfo">
                                <li class="selected">{{item.translation[i] === undefined ? '' :
                                    item.translation[i].name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div *ngIf="products.sessions.length > 0">
                        <h4 class="h4_info">
                            Playlist
                        </h4>
                        <div class="col-md-3" *ngFor="let item of products.sessions[0].play_list">
                            <div class="thumbnail">
                                <video controls="controls" class="product_video">
                                    <source src="{{item.movie.uri}}"
                                            type="video/{{item.movie.format}}">
                                </video>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div [@flyInOut]="'in'" style="margin: auto" class="panel panel-default">
            <div class="panel-heading heading_info">
                <h4 class="panel-title">
                    <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion"
                       href="#collapse7">Images</a>
                </h4>
            </div>
            <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body body_info">
                    <h4 class="h4_info" *ngIf="products.images == null">Image is not selected</h4>
                    <div *ngIf="products.images">
                            <img class="img-responsive"
                                 src="{{products.images.uri}}" alt="{{products.images.name}}"
                                 title="{{products.images.name}}"
                                 style="max-width: 200px; max-height:200px; margin: 2%;"
                            >
                    </div>
                </div>
            </div>
        </div>
        <div [@flyInOut]="'in'" style="margin: auto" class="panel panel-default">
            <div class="panel-heading heading_info">
                <h4 class="panel-title">
                    <a data-toggle="collapse" class="accordion-toggle" data-parent="#accordion"
                       href="#collapse8">Information</a>
                </h4>
            </div>
            <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body body_info">
                    <h4 class="h4_info" *ngIf="products.status === 1">Status: Enable</h4>
                    <h4 class="h4_info" *ngIf="products.status === 0">Status: Disable</h4>
                    <h4 class="h4_info">Updated: {{products.updated_at}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>

