<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="user_type === 'administrator'">
    <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a [routerLink]="['/components/products']">Products</a></li>
        <li>Product create</li>
    </ol>
    <div class="row">
        <div class="col-md-6">

            <div [@degriss]="degriss" class="alert alert-success">{{message}}</div>
            <div *ngIf="messageError" class="alert alert-danger">{{messageError}}</div>
            <form #form="ngForm" (ngSubmit)="onSubmit(form.value, addstatus)">
                <div class="form-group">
                    <ul class="nav nav-tabs">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a (click)="tabs_()" class="tab_button" data-toggle="tab" href="#name{{i}}">{{lang.name}}<img src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="name{{i}}" class="tab-pane fade"
                             [ngClass]="{'in active':i === 0}">
                            <label for="add_name_{{ lang.code }}">Name</label>
                            <input type="text"
                                   id="add_name_{{ lang.code }}"
                                   name="add_name_{{ lang.code }}"
                                   class="form-control"
                                   #addname="ngModel"
                                   required
                                   ngModel
                                   minlength="1"
                                   maxlength="255"
                                   autocomplete="off"
                            >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <ul class="nav nav-tabs">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a (click)="tab_description()" class="tab_button" data-toggle="tab" href="#description{{i}}">{{lang.name}}<img src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div [@tabsdescription]="tabs_description" *ngFor="let lang of language_, let i = index" id="description{{i}}" class="tab-pane fade"
                             [ngClass]="{'in active':i === 0}">

                            <label for="description_{{ lang.code }}">Description</label>
                            <textarea class="form-control"
                                      cols="30" rows="6"
                                      ngModel
                                      id="description_{{ lang.code }}"
                                      name="description_{{ lang.code }}"
                                      #description_en="ngModel"
                                      minlength="1"
                                      maxlength="5000"
                                      required
                            >
                                </textarea>
                        </div>
                    </div>
                </div>
                <img src="{{img_path}}" *ngIf="this.img_path !== ''" style="max-width: 150px">
                <div class="form-group">
                    <label for="selectFile">Image</label>
                    <input
                            type="file"
                            id="selectFile"
                            name="selectFile"
                            class="form-control"
                            required
                            #addimage
                            (change)="onImageChangeFromFile($event)"
                    >
                    <span class="text-danger" *ngIf="fileEditImage === false">Image file type is not valid</span>
                    <span class="text-danger" *ngIf="fileSize === false">Max size 1mb</span>
                </div>
                <div class="form-group text-center" *ngIf="!sessionsData">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                    <span>Loading...</span>
                </div>
                <div class="form-group" *ngIf="sessionsData">
                    <label>Sessions</label>
                    <ng-select [multiple]="true"
                               [items]="sessionsData"
                               [disabled]="disabled"
                               (data)="refreshValue($event)"
                               (selected)="selectedSessions($event)"
                               (removed)="removedSessions($event)"
                               placeholder="No sessions selected">
                    </ng-select>
                </div>
                <div class="form-group text-center" *ngIf="!brandsData">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                    <span>Loading...</span>
                </div>
                <div class="form-group" *ngIf="brandsData">
                    <label>Brands</label>
                    <ng-select [multiple]="false"
                               [items]="brandsData"
                               [disabled]="disabled"
                               (data)="refreshValue($event)"
                               (selected)="selectedBrands($event)"
                               (removed)="removedBrands($event)"
                               placeholder="No brands selected">
                    </ng-select>
                </div>
                <div class="form-group text-center" *ngIf="!categoryData">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                    <span>Loading...</span>
                </div>
                <div class="form-group" *ngIf="categoryData">
                    <label>Category</label>
                    <ng-select [multiple]="true"
                               [items]="categoryData"
                               [disabled]="disabled"
                               (data)="refreshValue($event)"
                               (selected)="selectedCategory($event)"
                               (removed)="removedCategory($event)"
                               placeholder="No category selected">
                    </ng-select>
                </div>

                <div class="form-group">
                    <p><b>Status</b></p>
                    <label class="switch">
                        <input type="checkbox" name="addstatus" [checked]="myStatus === true"  [disabled]="myStatus === false" [value]="true" #addstatus="ngModel" [(ngModel)]="addstatus.value">
                        <span class="slider round"></span>
                    </label>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn save btn-success button_style" [disabled]="form.invalid || recuared_image == -1 || addSessionsId.length === 0">
                        Create
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
