<div *ngIf="!products" class="cssload-thecube cssload-thecubemodal">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="products">
    <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a [routerLink]="['/components/products']">Products</a></li>
        <li>Product update</li>
    </ol>
    <div class="row">
        <div class="col-md-6">
            <div [@degriss]="degriss" class="alert alert-success">{{message}}</div>
            <div *ngIf="messageError" class="alert alert-danger">{{messageError}}</div>
            <form #form="ngForm"
                  (ngSubmit)="onSubmit(products.id, form.value)">
                <input disabled class="form-control" type="hidden" #id id="id" name="id" [value]="products.id">

                <div class="form-group">
                    <ul class="nav nav-tabs">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a (click)="tabs_()" class="tab_button" data-toggle="tab"
                               href="#name{{i}}">{{lang.name}}<img src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="name{{i}}"
                             class="tab-pane fade"
                             [ngClass]="{'in active':i === 0}">
                            <label for="name_{{ lang.code }}">Name</label>
                            <input type="text"
                                   id="name_{{ lang.code }}"
                                   name="name_{{ lang.code }}"
                                   [value]="products.translation[i] === undefined ? '' :products.translation[i].name"
                                   class="form-control"
                                   [(ngModel)]="products.translation[i] === undefined ? '' :products.translation[i].name"
                                   #nameEdit="ngModel"
                                   required
                                   minlength="1"
                                   maxlength="255"
                                   autocomplete="off"
                            >
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <ul class="nav nav-tabs">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a (click)="tab_description()" class="tab_button" data-toggle="tab"
                               href="#description{{i}}">{{lang.name}}<img src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div [@tabsdescription]="tabs_description" *ngFor="let lang of language_, let i = index"
                             id="description{{i}}" class="tab-pane fade"
                             [ngClass]="{'in active':i === 0}">
                            <div class="form-group">
                                <label for="description_{{ lang.code }}">Description</label>
                                <textarea class="form-control"
                                          ngModel
                                          cols="30" rows="6"
                                          id="description_{{ lang.code }}"
                                          name="description_{{ lang.code }}"
                                          [value]="products.translation[i] === undefined ? '' :products.translation[i].description"
                                          [(ngModel)]="products.translation[i] === undefined ? '' :products.translation[i].description"
                                          #descriptionEdit="ngModel"
                                          minlength="1"
                                          maxlength="5000"
                                          required
                                >
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div><label for="selectFile">Image</label></div>
                    <img style="width:200px; height: 150px; margin-bottom: 10px" *ngIf="this.img_path === ''"
                         src="{{products.images.uri}}" alt="{{products.images.name}}">
                    <img src="{{img_path}}" *ngIf="this.img_path !== ''" style="max-width: 150px; margin-bottom: 10px">
                    <input
                            type="file"
                            id="selectFile"
                            name="selectFile"
                            class="form-control"
                            required
                            #addimage
                            (change)="onImageChangeFromFile($event)"
                    >
                    <span class="text-danger" *ngIf="fileEditImage === false">Image file type is not valid</span>
                    <span class="text-danger" *ngIf="fileSize === false">Max size 1mb</span>
                </div>


                <div class="form-group text-center" *ngIf="!sessionsValue">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                    <span>Loading...</span>
                </div>
                <span *ngIf="messageSelect" class="IssueLabel">
                    <span>{{messageSelect}}</span>
                </span>
                <div class="form-group" *ngIf="sessionsValue">
                    <label>Sessions</label>
                    <ng-select [multiple]="true"
                               [items]="sessionsData"
                               [disabled]="disabled"
                               (data)="refreshValue($event)"
                               (selected)="selectedSessions($event)"
                               (removed)="removedSessions($event)"
                               [active]="sessionsValue"
                               placeholder="No sessions selected">
                    </ng-select>
                </div>

                <div class="form-group text-center" *ngIf="!brandsValue">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                    <span>Loading...</span>
                </div>
                <div class="form-group" *ngIf="brandsValue">
                    <label>Brands</label>
                    <ng-select [multiple]="false"
                               [items]="brandsData"
                               [disabled]="disabled"
                               (data)="refreshValue($event)"
                               (selected)="selectedBrands($event)"
                               (removed)="removedBrands($event)"
                               [active]="brandsValue"
                               placeholder="No brands selected">
                    </ng-select>
                </div>
                <div class="form-group text-center" *ngIf="!categoryValue">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                    <span>Loading...</span>
                </div>
                <div class="form-group" *ngIf="categoryValue">
                    <label>Category</label>
                    <ng-select [multiple]="true"
                               [items]="categoryData"
                               [disabled]="disabled"
                               (data)="refreshValue($event)"
                               (selected)="selectedCategory($event)"
                               (removed)="removedCategory($event)"
                               [active]="categoryValue"
                               placeholder="No category selected">
                    </ng-select>
                </div>

                <div class="form-group">
                    <p><b>Status</b></p>
                    <label class="switch" *ngIf="products.status == 1">
                        <input type="checkbox"
                               [checked]="myStatusData !== 0  && myStatus === true"
                               [disabled]="myStatusData === 0  || myStatus === false"
                               name="editstatus" #editstatus="ngModel" [(ngModel)]="products.status">
                        <span class="slider round"></span>
                    </label>
                    <label class="switch" *ngIf="products.status == 0">
                        <input type="checkbox"
                               [disabled]="myStatusData === 0  || myStatus === false"
                               name="editstatus" #editstatus="ngModel" [(ngModel)]="products.status">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="button_block">

                    <button [disabled]="form.invalid || fileEditImage === false || fileSize === false" type="submit"
                            class="btn btn-primary update button_style">Update
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>