<div *ngIf="styles === undefined" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="styles">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li>Style Management</li>
                        <li>Style</li>
                    </ol>
                    <button class="search-open" *ngIf="no_result !== true">
                        <i class="fa fa-search search-icon" aria-hidden="true"></i>
                    </button>
                    <button
                            type="button" class="btn btn-sm btn-success addButton" *ngIf="user_type === 'administrator'"
                            [routerLink]="'/components/style-create'"
                    >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add
                    </button>

                    <div *ngFor="let language of language_" style="display: inline-block;float: right;">
                        <img *ngIf="language.status === 1" class="language_icon"
                             src="{{language.image.uri}}"
                             alt="{{language.image.name}}"
                             title="{{language.image.name}}"
                             (click)="change_language(language.code)"
                             [ngClass]="(language.code ==  lang)? 'active_language' : ''"/>
                    </div>

                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="search col-md-12">
                            <div class="fadeIn animated" id="search-toggle">
                                <form class="form-inline" id="form" #form="ngForm"
                                      (ngSubmit)="search(form.value)">
                                    <div class="form-group">
                                        <input type="text" minlength="3" [(ngModel)]="search_name.value"
                                               #search_name="ngModel" name="search" class="form-control"
                                               placeholder="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" minlength="3" [(ngModel)]="search_device.value"
                                               #search_device="ngModel" name="device_search"
                                               class="form-control"
                                               placeholder="Device">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" minlength="3" [(ngModel)]="search_session.value"
                                               #search_session="ngModel" name="session_search"
                                               class="form-control" placeholder="Session">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info btn-flat"
                                                [disabled]="form.invalid || no_result === true">
                                            Go!
                                        </button>
                                        <button type="reset" class="btn btn-danger clearbutton"
                                                [disabled]="no_result === true" (click)="refresh()">Reset
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="callout callout-warning col-md-12" *ngIf="no_result">
                        <p>{{no_result_mejjige}}</p>
                    </div>
                    <div [@degriss]="degriss" class="alert alert-success col-md-12">{{message}}</div>
                    <div *ngIf="messageError" class="alert alert-danger col-md-12">{{messageError}}</div>
                    <div class="alert alert-info no_result_div col-md-12" *ngIf="messageSearch">
                        <p class="no_result">{{messageSearch}} <span style="color: #222d32; cursor: pointer;"
                                                                       (click)="refresh()">Go to List</span></p>
                    </div>
                    <div class="scroll_table">
                    <table class="table table-hover table-bordered data-table" *ngIf="!messageSearch && !no_result">
                        <thead>
                        <tr>
                            <th>Name
                                <span class="glyphicon glyphicon-sort sort_icon"
                                      (click)="filter('sort','ASC')"
                                      *ngIf="sort_type_style === 'NORMAL'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes sort_icon"
                                      (click)="filter('sort', 'DESC')"
                                      *ngIf="sort_type_style === 'ASC'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt sort_icon"
                                      (click)="filter('sort','')"
                                      *ngIf="sort_type_style === 'DESC'"
                                ></span>
                            </th>
                            <th>Devices
                                <span class="glyphicon glyphicon-sort sort_icon"
                                      (click)="filter('device_sort', 'ASC')"
                                      *ngIf="sort_type_device === 'NORMAL'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes sort_icon"
                                      (click)="filter('device_sort', 'DESC')"
                                      *ngIf="sort_type_device === 'ASC'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt sort_icon"
                                      (click)="filter('device_sort', '')"
                                      *ngIf="sort_type_device === 'DESC'"
                                ></span>
                            </th>
                            <th>Sessions
                                <span class="glyphicon glyphicon-sort sort_icon"
                                      (click)="filter('session_sort', 'ASC')"
                                      *ngIf="sort_type_sessions === 'NORMAL'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes sort_icon"
                                      (click)="filter('session_sort', 'DESC')"
                                      *ngIf="sort_type_sessions === 'ASC'"
                                ></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt sort_icon"
                                      (click)="filter('session_sort', '')"
                                      *ngIf="sort_type_sessions === 'DESC'"
                                ></span>
                            </th>
                            <th>Images</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody class="style_table" *ngIf="!messageSearch && !no_result">
                        <tr *ngFor="let style of styles" class="infoupdate">
                            <td><p *ngIf="style.translation[0]">{{style.translation[0].name}}</p></td>
                            <td><p *ngFor="let device of style.devices">{{device.translation[0].name}}</p></td>
                            <td><p *ngFor="let session of style.sessions">{{session.translation[0].name}}</p></td>
                            <td class="hover_tolltip">
                                <img title="<img  src='{{style.images.uri}}'
                                alt='' class='image_size_tolltip'>" data-toggle="tooltip"
                                     src="{{style.images.uri}}"
                                     alt="" class="image_size_brand">
                            </td>
                            <td>
                                <label class="switch" *ngIf="style.status == 1">
                                    <input type="checkbox" checked
                                           name="editstatus" #editstatus="ngModel"
                                           [(ngModel)]="style.status"
                                           [disabled]="user_type == 'reviewer'"
                                           (change)="changeStatus(editstatus.value, style.id)">
                                    <span class="slider round"></span>
                                </label>
                                <label class="switch" *ngIf="style.status == 0">
                                    <input type="checkbox"
                                           name="editstatuss" #editstatuss="ngModel"
                                           [(ngModel)]="style.status"
                                           [disabled]="user_type == 'reviewer' || style.sessions.length == 0"
                                           (change)="changeStatus(editstatuss.value, style.id)">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td class="action">
                                <a>
                                    <i class="fa fa-eye" title="Show"
                                       [routerLink]="['/components/styleShow', style.id]"></i>
                                </a>
                                <a *ngIf="user_type === 'administrator' || user_type === 'editor'"
                                   [routerLink]="['/components/style/edit', style.id]">
                                    <i class="fa fa-pencil" title="Edit"></i>
                                </a>
                                <a *ngIf="user_type === 'administrator'" (click)="deleteId(style.id)">
                                    <i class="fa fa-times" title="Delete"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <ul class="pagination" *ngIf="pagination.length !== 1 && this.no_result === false">
                        <li [ngClass]="{'disabled':paginDiss === 1}"><a (click)="last_first_page('first')"><<</a></li>
                        <li [ngClass]="{'disabled':paginDiss === 1}"><a (click)="prev_next('prev')"><</a></li>
                        <li *ngFor="let page of pagination"
                            [ngClass]="{'active':paginDiss === page}"
                        >
                            <a (click)="paginationData(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a (click)="prev_next('next')">></a>
                        </li>
                        <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a (click)="last_first_page('last')">>></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--/.col-->
    </div><!--/.row-->
</div>