<div *ngIf="!style" class="cssload-thecube cssload-thecubemodal">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="style">
    <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a [routerLink]="['/components/style']">Style</a></li>
        <li>Style update</li>
    </ol>
    <div class="row">
        <div class="col-md-6">

            <div *ngIf="message" class="alert alert-danger col-md-12">{{message}}</div>
            <form #form="ngForm" (ngSubmit)="onSubmit(form.value, SessionID)">
                <div class="form-group">
                    <ul class="nav nav-tabs">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a (click)="tabs_()" class="tab_button" data-toggle="tab" href="#name{{i}}">{{lang.name}}<img src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="name{{i}}" class="tab-pane fade"
                             [ngClass]="{'in active':i === 0}">
                            <label for="add_name_{{ lang.code }}">Name</label>
                            <input type="text"
                                   id="add_name_{{ lang.code }}"
                                   name="add_name_{{ lang.code }}"
                                   class="form-control"
                                   #addname="ngModel"
                                   [value]="style.translation[i] === undefined ? '' :style.translation[i].name"
                                   required
                                   [(ngModel)]="style.translation[i] === undefined ? '' :style.translation[i].name"
                                   minlength="1"
                                   maxlength="255"
                                   autocomplete="off"
                            >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Sessions</label>
                    <ng-select [multiple]="true"
                               [items]="sessionsData"
                               [disabled]="disabled"
                               (data)="refreshValue($event)"
                               (selected)="selected($event)"
                               (removed)="removed($event)"
                               [active]="activeSessions"
                               placeholder="No Sessions selected">
                    </ng-select>
                </div>

                <div class="form-group">
                    <div><label for="selectFile">Image</label></div>
                    <img style="width:200px; margin-bottom: 10px" src="{{style.images.uri}}" *ngIf="this.img_path === ''" alt="{{style.images.name}}">
                    <img src="{{img_path}}" *ngIf="this.img_path !== ''" style="max-width: 150px; margin-bottom: 10px">
                    <input
                            type="file"
                            id="selectFile"
                            name="selectFile"
                            class="form-control"
                            required
                            #addimage
                            (change)="onImageChangeFromFile($event)"
                    >
                    <span class="text-danger" *ngIf="fileEditImage === false">Image file type is not valid</span>
                    <span class="text-danger" *ngIf="fileSize === false">Max size 1mb</span>
                </div>

                <div class="form-group">
                    <p><b>Status</b></p>
                    <label class="switch" *ngIf="style.status == 1">
                        <input type="checkbox" [checked]="myStatus === true" [disabled]="myStatus === false" name="editstatus" #editstatus="ngModel" [(ngModel)]="style.status">
                        <span class="slider round"></span>
                    </label>
                    <label class="switch" *ngIf="style.status == 0">
                        <input type="checkbox" name="editstatus" [disabled]="myStatus === false" #editstatus="ngModel" [(ngModel)]="style.status">
                        <span class="slider round"></span>
                    </label>
                </div>


                <div class="button_block">
                    <button type="submit" class="btn btn-primary update button_style" [disabled]="form.invalid || fileEditImage === false">
                        Update
                    </button>
                </div>
            </form>

        </div>
    </div>

</div>