<div *ngIf="sessions === undefined" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="sessions">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li>Style Management</li>
                        <li>Style Sessions</li>
                    </ol>
                    <button
                            type="button" class="btn  btn-sm btn-success addButton"
                            *ngIf="user_type === 'administrator'"
                            (click)="openAddModal()" data-toggle="modal" data-target="#myModal"
                    >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add
                    </button>
                    <div *ngFor="let language of language_" style="display: inline-block;float: right;">
                        <img *ngIf="language.status === 1" class="language_icon"
                             src="{{language.image.uri}}"
                             alt="{{language.image.name}}"
                             title="{{language.image.name}}"
                             (click)="change_language(language.code)"
                             [ngClass]="(language.code ==  lang)? 'active_language' : ''"/>
                    </div>
                </div>
                <div class="box-body">
                    <div class="callout callout-warning" *ngIf="no_result">
                        <p>{{no_result_mejjige}}</p>
                    </div>
                    <div [@degriss]="degriss" class="alert alert-success">{{message}}</div>
                    <div *ngIf="messageError" class="alert alert-danger">{{messageError}}</div>
                    <div class="row">
                        <div class="col-md-4" *ngFor="let session of sessions, let i = index">
                            <div class="thumbnail">

                                <a [routerLink]="['/components/sessions', session.id]">
                                    <video height="240" class="video_size cursor-pointer">
                                        <source src="{{session.play_list[0].movie.uri}}">
                                    </video>
                                </a>
                                <div class="editimages" *ngIf="user_type === 'administrator' || user_type === 'editor'">
                                    <i class="fa fa-pencil" title="Edit" aria-hidden="true" data-toggle="modal"
                                       data-target="#myModal" (click)="openedit(session.id)"></i>
                                </div>
                                <div class="deleteimage" *ngIf="user_type === 'administrator'">
                                    <i class="fa fa-times" title="Delete" aria-hidden="true"
                                       (click)="deleteId(session.id)"></i>
                                </div>
                                <p class="sessionName text-center">Name: {{ session.translation.length ?
                                    session.translation[0].name : '' }}</p>
                                <p class="sessiondescr text-left" data-toggle="tooltip"
                                   title="{{session.translation.length ? session.translation[0].description : '' }}">
                                    Description: {{session.translation.length ? session.translation[0].description :
                                    ''}}</p>

                            </div>
                        </div>
                    </div>
                    <ul class="pagination" *ngIf="pagination.length !== 1 && this.no_result === false">
                        <li [ngClass]="{'disabled':paginDiss === 1}"><a (click)="last_first_page('first')"><<</a></li>
                        <li [ngClass]="{'disabled':paginDiss === 1}"><a (click)="prev_next('prev')"><</a></li>
                        <li *ngFor="let page of pagination"
                            [ngClass]="{'active':paginDiss === page}"
                        >
                            <a (click)="paginationData(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a (click)="prev_next('next')">></a>
                        </li>
                        <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a (click)="last_first_page('last')">>></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--/.col-->
    </div>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 *ngIf="viewData=='edit'" class="modal-title">Session Edit</h4>
                <h4 *ngIf="viewData=='add'" class="modal-title">New Session</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" *ngIf="viewData == 'edit'">
                <div *ngIf="!showsession" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <form *ngIf="showsession" #form="ngForm" (ngSubmit)="onSubmit(form.value, showsession.id)">
                    <div class="form-group">
                        <ul class="nav nav-tabs">
                            <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                                <a (click)="tabs_()" class="tab_button" data-toggle="tab" href="#menuedit{{i}}">{{lang.name}}
                                    <img src="{{lang.image.uri}}" alt="{{lang.name}}">
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="menuedit{{i}}"
                                 class="tab-pane fade"
                                 [ngClass]="{'in active':i === 0}">
                                <label for="name_{{ lang.code }}">Name</label>
                                <input type="text"
                                       id="name_{{ lang.code }}"
                                       class="form-control"
                                       [value]="showsession.translation[i] === undefined ? '' :showsession.translation[i].name"
                                       name="name_{{ lang.code }}"
                                       #name="ngModel"
                                       required
                                       [(ngModel)]="showsession.translation[i] === undefined ? '' :showsession.translation[i].name"
                                       minlength="1"
                                       maxlength="255"
                                       autocomplete="off"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <ul class="nav nav-tabs">
                            <li class="imagelang" *ngFor="let lang of language_, let i = index"
                                [ngClass]="{'active':i === 0}">
                                <a class="tab_button" data-toggle="tab" href="#description{{i}}">
                                    {{lang.name}} <img src="{{lang.image.uri}}" alt="{{lang.name}}">
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div *ngFor="let lang of language_, let i = index" id="description{{i}}"
                                 class="tab-pane fade"
                                 [ngClass]="{'in active':i === 0}">
                                <label for="descriptionedit_{{lang.code}}">Description</label>
                                <textarea class="form-control"
                                          ngModel
                                          id="descriptionedit_{{lang.code}}"
                                          name="description_{{lang.code}}"
                                          [value]="showsession.translation[i] === undefined ? '' :showsession.translation[i].description"
                                          [(ngModel)]="showsession.translation[i] === undefined ? '' :showsession.translation[i].description"
                                          placeholder="Description ... "
                                          #description="ngModel"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addplaylistedit">Playlist Id</label>
                        <select id="addplaylistedit" name="addplaylistedit" #addplaylistedit="ngModel"
                                [(ngModel)]="showsession.play_list_id"
                                class="form-control" required>
                            <option *ngFor="let id of playlistID" [selected]="showsession.play_list_id === id"
                                    value="{{id}}">PLaylist {{id}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <p><b>Status</b></p>
                        <label class="switch" *ngIf="showsession.status == 1">
                            <input type="checkbox" checked name="editstatus" #editstatus="ngModel"
                                   [(ngModel)]="showsession.status">
                            <span class="slider round"></span>
                        </label>
                        <label class="switch" *ngIf="showsession.status == 0">
                            <input type="checkbox" name="editstatus" #editstatus="ngModel"
                                   [(ngModel)]="showsession.status">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="button_block">
                        <button [disabled]="form.invalid" type="submit" class="btn btn-primary update button_style">
                            Update
                        </button>
                    </div>
                </form>
            </div>

            <div class="modal-body" *ngIf="viewData == 'add'">
                <div *ngIf="playlistID == undefined" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngIf="no_playlist === true" class="callout callout-warning">
                    <p>Please create a playlist</p>
                </div>
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <form *ngIf="playlistID != undefined && no_playlist !== true" #form="ngForm" id="formadd"
                      (ngSubmit)="add(form.value)">
                    <div class="form-group">
                        <ul class="nav nav-tabs">
                            <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                                <a (click)="tabs_()" class="tab_button" data-toggle="tab" href="#menuadd{{i}}">
                                    {{lang.name}} <img src="{{lang.image.uri}}" alt="{{lang.name}}">
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="menuadd{{i}}"
                                 class="tab-pane fade"
                                 [ngClass]="{'in active':i === 0}">
                                <label for="add_name_{{ lang.code }}">Name</label>
                                <input type="text"
                                       id="add_name_{{ lang.code }}"
                                       name="add_name_{{ lang.code }}"
                                       class="form-control"
                                       #addname="ngModel"
                                       placeholder="Session name.."
                                       required
                                       ngModel
                                       minlength="1"
                                       autocomplete="off"
                                       maxlength="255"
                                >
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <ul class="nav nav-tabs">
                            <li class="imagelang" *ngFor="let lang of language_, let i = index"
                                [ngClass]="{'active':i === 0}">
                                <a class="tab_button" data-toggle="tab" href="#menu{{i}}">
                                    {{lang.name}} <img src="{{lang.image.uri}}" alt="{{lang.name}}">
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div *ngFor="let lang of language_, let i = index" id="menu{{i}}" class="tab-pane fade"
                                 [ngClass]="{'in active':i === 0}">
                                <label for="description_{{lang.code}}">Description</label>
                                <textarea class="form-control"
                                          ngModel
                                          id="description_{{lang.code}}"
                                          name="description_{{lang.code}}"
                                          placeholder="Description ... "
                                          #description="ngModel"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addplaylist">Playlist Id</label>
                        <select id="addplaylist" name="addplaylist" #addplaylist="ngModel"
                                [(ngModel)]="addplaylist.value"
                                class="form-control" required>
                            <option *ngFor="let id of playlistID" value="{{id}}">Playlist {{id}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <p><b>Status</b></p>
                        <label class="switch">
                            <input type="checkbox" name="addstatus" #addstatus="ngModel" [(ngModel)]="addstatus.value">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="button_block">
                        <button class="btn save btn-success button_style" [disabled]="form.invalid" type="submit">
                            Create
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>