<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="user_type === 'administrator'">
    <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a [routerLink]="['/components/style']">Style</a></li>
        <li>Style create</li>
    </ol>
    <div class="row">
        <div class="col-md-6">

            <div *ngIf="message" class="alert alert-danger col-md-12">{{message}}</div>
            <form #form="ngForm" (ngSubmit)="onSubmit(form.value, addSessionID, addstatus)">
                <div class="form-group">
                    <ul class="nav nav-tabs">
                        <li *ngFor="let lang of language_, let i = index" [ngClass]="{'active':i === 0}">
                            <a (click)="tabs_()" class="tab_button" data-toggle="tab" href="#name{{i}}">{{lang.name}}<img src="{{lang.image.uri}}" alt="{{lang.name}}"></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div [@tabsRtigger]="tabs" *ngFor="let lang of language_, let i = index" id="name{{i}}" class="tab-pane fade"
                             [ngClass]="{'in active':i === 0}">
                            <label for="add_name_{{ lang.code }}">Name</label>
                            <input type="text"
                                   id="add_name_{{ lang.code }}"
                                   name="add_name_{{ lang.code }}"
                                   class="form-control"
                                   #addname="ngModel"
                                   required
                                   ngModel
                                   minlength="1"
                                   maxlength="255"
                                   autocomplete="off"
                            >
                        </div>
                    </div>
                </div>
                <img src="{{img_path}}" *ngIf="this.img_path !== ''" style="max-width: 150px">
                <div class="form-group">
                    <label for="selectFile">Image</label>
                    <input
                            type="file"
                            id="selectFile"
                            name="selectFile"
                            class="form-control"
                            required
                            #addimage
                            (change)="onImageChangeFromFile($event)"
                    >
                    <span class="text-danger" *ngIf="fileEditImage === false">Image file type is not valid</span>
                    <span class="text-danger" *ngIf="fileSize === false">Max size 1mb</span>
                </div>
                <div class="form-group">
                    <label>Sessions</label>
                    <ng-select [multiple]="true"
                               [items]="sessionsData"
                               [disabled]="disabled"
                               (data)="refreshValue($event)"
                               (selected)="addselected($event)"
                               (removed)="addremoved($event)"
                               placeholder="No Sessions selected"></ng-select>
                </div>

                <div class="form-group">
                    <p><b>Status</b></p>
                    <label class="switch">
                        <input type="checkbox" [checked]="myStatus === true" [disabled]="myStatus === false" name="addstatus" #addstatus="ngModel" [(ngModel)]="addstatus.value">
                        <span class="slider round"></span>
                    </label>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn save btn-success button_style" [disabled]="form.invalid || recuared_image == -1">
                        Create
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
