<div *ngIf="users === undefined" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="users">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li>Users</li>
                    </ol>
                    <button
                            type="button" class="btn btn-sm btn-success addButton"
                            (click)="openAddModal()" data-toggle="modal" data-target="#myModal"
                    >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add
                    </button>
                </div>
                <div class="box-body">
                    <div class="callout callout-warning col-md-12" *ngIf="no_result">
                        <p>{{no_result_mejjige}}</p>
                    </div>
                    <div [@degriss]="degriss" class="alert alert-success">{{message}}</div>
                    <div *ngIf="messageError" class="alert alert-danger">{{messageError}}</div>
                    <div class="scroll_table">
                    <table class="table table-hover table-bordered data-table" *ngIf="!no_result">
                        <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let user of users ">
                            <td><img src="{{user.image}}" alt="{{user.name}}" class="image_size"/></td>
                            <td class="verical_align">{{user.name}}</td>
                            <td class="verical_align">{{user.email}}</td>
                            <td class="verical_align">
                                <span class="label label-success">{{user.role.label}}</span>
                            </td>
                            <td class="text-center verical_align">
                                <a style="padding: 0 7px">
                                    <i class="fa fa-eye" title="Show"
                                       data-toggle="modal" data-target="#myModal"
                                       (click)="openModal(user.id)"></i>
                                </a>
                                <a style="padding: 0 7px">
                                    <i class="fa fa-pencil" title="Edit" (click)="openEditModal(user.id)"
                                       data-toggle="modal" data-target="#myModal"></i>
                                </a>
                                <a *ngIf="user.id != user_id" (click)="deleteId(user.id)" style="padding: 0 7px">
                                    <i class="fa fa-times"
                                       title="Delete"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    <ul class="pagination" *ngIf="pagination.length !== 1 && this.no_result === false">
                        <li [ngClass]="{'disabled':paginDiss === 1}"><a (click)="last_first_page('first')"><<</a></li>
                        <li [ngClass]="{'disabled':paginDiss === 1}"><a (click)="prev_next('prev')"><</a></li>
                        <li *ngFor="let page of pagination"
                            [ngClass]="{'active':paginDiss === page}"
                        >
                            <a (click)="paginationData(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a (click)="prev_next('next')">></a>
                        </li>
                        <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a (click)="last_first_page('last')">>></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--/.col-->
    </div><!--/.row-->

</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="viewData == 'view'">View</h4>
                <h4 class="modal-title" *ngIf="viewData == 'edit'">User Edit</h4>
                <h4 class="modal-title" *ngIf="viewData == 'add'">New User</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" *ngIf="viewData == 'view'">
                <div *ngIf="showUser[0] == null" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div class="row" *ngFor="let item of showUser">
                    <div class="col-md-5">
                        <img src="{{item.image.uri}}" alt="{{item.name}}" class="imag_user_size">
                    </div>
                    <div>
                        <div class="col-md-7">
                            <div [@input_animations]="">
                            <div class="margin form-group row">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button disabled type="button" class="btn viw_Info_button">Name</button>
                                    </div>
                                    <!-- /btn-group -->
                                    <input disabled type="text" class="form-control" value="{{item.name}}">
                                </div>
                            </div>
                            <div class="margin form-group row">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button disabled type="button" class="btn viw_Info_button">Email</button>
                                    </div>
                                    <!-- /btn-group -->
                                    <input disabled type="text" class="form-control" value="{{item.email}}">
                                </div>
                            </div>
                            <div class="margin form-group row">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button disabled type="button" class="btn viw_Info_button">Role</button>
                                    </div>
                                    <!-- /btn-group -->
                                    <input disabled type="text" class="form-control" value="{{item.role.label}}">
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body" *ngIf="viewData == 'edit'">
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <div *ngIf="editcategories[0] == null" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngFor="let user of editcategories">
                    <div class="user_edit_block">
                        <form #formPers="ngForm" (ngSubmit)="onSubmit(formPers.value,user.id)">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="name"
                                        [value]="user.name"
                                        name="name"
                                        #name="ngModel"
                                        required
                                        [(ngModel)]="user.name"
                                        minlength="3"
                                        pattern="^[A-Za-z-_\s]+$"
                                        autocomplete="off"
                                >
                                <span *ngIf="name.invalid && (name.dirty || name.touched)">

          <span class="text-danger" *ngIf="name.errors.required">
            Name is required.
          </span>
          <span class="text-danger" *ngIf="name.errors.pattern">
            Invalid name
          </span>
          <span class="text-danger" *ngIf="name.errors.minlength">
            Invalid Name length (min 3 symbol)
          </span>
        </span>
                            </div>
                            <img src="{{img_path}}" *ngIf="this.img_path !== ''" style="max-width: 150px">
                            <img src="{{user.image.uri}}" *ngIf="this.img_path === ''" style="max-width: 150px">
                            <div class="form-group">
                                <label for="selectFile">Image</label>
                                <input
                                        type="file"
                                        id="selectFile"
                                        name="selectFile"
                                        class="form-control"
                                        required
                                        #addimage
                                        (change)="onImageChangeFromFile($event)"
                                >
                                <span class="text-danger"
                                      *ngIf="fileEditImage === false">Image file type is not valid</span>
                                <span class="text-danger" *ngIf="fileSize === false">Max size 1mb</span>
                            </div>
                            <button [disabled]="formPers.invalid || fileEditImage === false || fileSize === false"
                                    type="submit"
                                    class="btn btn-primary save btn-md button_style">Save
                            </button>
                        </form>
                    </div>
                    <div class="user_edit_block" *ngIf="this.user_id != user.id">
                        <form #formRole="ngForm" (ngSubmit)="onRole(formRole.value,user.id)">
                            <div class="form-group">
                                <label for="role_id_edit">Role:</label>
                                <select name="role_id_edit" #role_id_edit="ngModel" [(ngModel)]="user.role_id"
                                        class="form-control" id="role_id_edit">
                                    <option [selected]="user.role_id === 1" [value]="1">Administrator</option>
                                    <option [selected]="user.role_id === 2" [value]="2">Moderator</option>
                                    <option [selected]="user.role_id === 3" [value]="3">User</option>
                                </select>
                            </div>
                            <button type="submit" class="btn save btn-primary btn-md button_style">Save</button>
                        </form>
                    </div>
                    <div class="user_edit_block">
                        <form #form="ngForm" (ngSubmit)="onPassword(form.value,user.id)" id="passForm">
                            <div class="form-group">
                                <label for="password">New Password</label>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="password"
                                        name="password"
                                        #password="ngModel"
                                        [(ngModel)]="password.value"
                                        autocomplete="off"
                                        minlength="6"
                                        maxlength="32"
                                        required
                                >
                                <span *ngIf="password.invalid && (password.dirty || password.touched)">

          <span class="text-danger" *ngIf="password.errors.required">
            Password is required.
          </span>
          <span class="text-danger" *ngIf="password.errors.minlength">
            Password must be at least 6 characters long.
          </span>
        </span>
                            </div>
                            <div class="form-group">
                                <label for="confirm_password">Confirm password</label>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="confirm_password"
                                        name="confirm_password"
                                        #confirm_password="ngModel"
                                        [(ngModel)]="confirm_password.value"
                                        autocomplete="off"
                                        minlength="6"
                                        maxlength="32"
                                        required
                                >
                                <span *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)">

          <span class="text-danger" *ngIf="confirm_password.errors.required">
            Confirm password is required.
          </span>
          <span class="text-danger" *ngIf="confirm_password.errors.minlength">
            Invalid password length (min 6 symbol)
          </span>
        </span>
                                <p *ngIf="password.value !== confirm_password.value" class="text-danger">
                                    Passwords don`t match
                                </p>
                            </div>
                            <button [disabled]="form.invalid || (confirm_password.value !== password.value)"
                                    type="submit"
                                    class="btn save btn-primary btn-md button_style">Save
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal-body" *ngIf="viewData == 'add'">
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <form #form="ngForm" (ngSubmit)="onCreateSumbit(form.value)" id="formadd">
                    <div class="form-group">
                        <label for="user_name">Name</label>
                        <input
                                type="text"
                                class="form-control"
                                id="user_name"
                                name="user_name"
                                #user_name="ngModel"
                                required
                                [(ngModel)]="user_name.value"
                                minlength="3"
                                pattern="^[A-Za-z-_\s]+$"
                                autocomplete="off"
                        >
                        <span *ngIf="user_name.invalid && (user_name.dirty || user_name.touched)">

          <span class="text-danger" *ngIf="user_name.errors.required">
            Name is required.
          </span>
          <span class="text-danger" *ngIf="user_name.errors.pattern">
            Invalid name
          </span>
          <span class="text-danger" *ngIf="user_name.errors.minlength">
            Name must be at least 3 characters long.
          </span>
        </span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input
                                type="text"
                                class="form-control"
                                id="email"
                                name="email"
                                #email="ngModel"
                                required
                                [(ngModel)]="email.value"
                                minlength="3"
                                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                autocomplete="off"
                        >
                        <span *ngIf="email.invalid && (email.dirty || email.touched)">

          <span class="text-danger" *ngIf="email.errors.required">
            Email is required.
          </span>
          <span class="text-danger" *ngIf="email.errors.pattern">
            Email is invalid.
          </span>
          <span class="text-danger" *ngIf="email.errors.minlength">
            Invalid Email address.
          </span>
        </span>
                    </div>
                    <div class="form-group">
                        <label for="user_password">Password</label>
                        <input
                                type="password"
                                class="form-control"
                                id="user_password"
                                name="user_password"
                                #user_password="ngModel"
                                required
                                minlength="6"
                                maxlength="32"
                                [(ngModel)]="user_password.value"
                                autocomplete="off"
                        >
                        <span *ngIf="user_password.invalid && (user_password.dirty || user_password.touched)">

                  <span class="text-danger" *ngIf="user_password.errors.required">
                  Password is required.
                  </span>
                  <span class="text-danger" *ngIf="user_password.errors.minlength">
                  Password must be at least 6 characters long.
                  </span>
                  </span>
                    </div>
                    <div class="form-group">
                        <label for="user_password">Conform Password</label>
                        <input
                                type="password"
                                class="form-control"
                                id="user_confirm_password"
                                name="user_confirm_password"
                                #user_confirm_password="ngModel"
                                required
                                minlength="6"
                                maxlength="32"
                                [(ngModel)]="user_confirm_password.value"
                                autocomplete="off"
                        >
                        <span *ngIf="user_confirm_password.invalid && (user_confirm_password.dirty || user_confirm_password.touched)">

                  <span class="text-danger" *ngIf="user_confirm_password.errors.required">
                  Password is required.
                  </span>
                  <span class="text-danger" *ngIf="user_confirm_password.errors.minlength">
                  Password must be at least 6 characters long.
                  </span>
                  </span>
                        <p *ngIf="user_confirm_password.value !== user_password.value" class="text-danger">
                            Passwords don`t match
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="role_id">Role</label>
                        <select name="role_id" #role_id="ngModel" [(ngModel)]="role_id.value" class="form-control"
                                id="role_id" required>
                            <option [value]="1">Administrator</option>
                            <option [value]="2">Moderator</option>
                            <option [value]="3">User</option>
                        </select>
                        <span *ngIf="role_id.invalid && (role_id.dirty || role_id.touched)">

                  <span class="text-danger" *ngIf="role_id.errors.required">
                  Access denied, please contact with site administrator.
                  </span>
                  </span>
                    </div>
                    <img src="{{img_path}}" *ngIf="this.img_path !== ''" style="max-width: 150px">
                    <div class="form-group">
                        <label for="selectFile">Image</label>
                        <input
                                type="file"
                                name="selectFile"
                                id="selectFile2"
                                class="form-control"
                                required
                                #addimage
                                (change)="onImageChangeFromFile($event)"
                        >
                        <span class="text-danger" *ngIf="fileEditImage === false">Image file type is not valid</span>
                        <span class="text-danger" *ngIf="fileSize === false">Max size 1mb</span>
                    </div>
                    <div class="button_block">
                    <button [disabled]="form.invalid || (user_confirm_password.value !== user_password.value) || recuared_image == -1"
                            type="submit" class="btn save btn-success button_style">
                        Create
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>