<div *ngIf="videos === undefined" class="cssload-thecube" xmlns="http://www.w3.org/1999/html">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="videos">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li>Videos</li>
                    </ol>
                    <button class="search-open">
                        <i class="fa fa-search search-icon" aria-hidden="true"></i>
                    </button>
                    <button
                            type="button" class="btn btn-sm btn-success addButton" *ngIf="user_type === 'administrator'"
                            data-toggle="modal" data-target="#myModal" (click)="addopen()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add
                    </button>
                </div>


                <div class="box-body">
                    <div class="row ">
                    <div class="search col-md-12">
                        <div class="fadeIn animated" id="search-toggle">
                            <form class="form-inline" id="form" #form="ngForm"
                                  (ngSubmit)="search(form.value)">
                                <div class="form-group">
                                    <input type="text" minlength="3" required [(ngModel)]="search_name.value"
                                           #search_name="ngModel" name="search" class="form-control"
                                           placeholder="Name" [disabled]="no_result === true">
                                </div>
                                <div class="form-group" >
                                    <button type="submit" class="btn btn-info btn-flat" [disabled]="form.invalid || no_result === true">Go!
                                    </button>
                                    <button type="reset" class="btn btn-danger" (click)="refresh()">Reset</button>
                                    <button type="button" class="btn btn-info" (click)="filter('sort', 'ASC')"
                                            *ngIf="sortType === 'NORMAL'" [disabled]="no_result === true || messageSearch">
                                        Sort &nbsp;<span class="glyphicon glyphicon-sort sort_icon"></span>
                                    </button>
                                    <button type="button" class="btn btn-info" (click)="filter('sort', 'DESC')"
                                            *ngIf="sortType === 'ASC'" [disabled]="no_result === true || messageSearch">
                                        Sort &nbsp;<span
                                            class="glyphicon glyphicon-sort-by-attributes sort_icon"></span>
                                    </button>
                                    <button type="button" class="btn btn-info" (click)="filter('sort', '')"
                                            *ngIf="sortType === 'DESC'" [disabled]="no_result === true || messageSearch">
                                        Sort &nbsp;<span
                                            class="glyphicon glyphicon-sort-by-attributes-alt sort_icon"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                    <div class="callout callout-warning col-md-12" *ngIf="no_result">
                        <p>{{no_result_mejjige}}</p>
                    </div>
                    <div [@degriss]="degriss" class="alert alert-success col-md-12">
                        {{message}}
                    </div>
                    <div *ngIf="messageError" class="alert alert-danger col-md-12">{{messageError}}</div>
                    <div class="alert alert-info no_result_div col-md-12" *ngIf="messageSearch">
                        <p class="no_result">{{messageSearch}} <span style="color: #222d32; cursor: pointer;" (click)="refresh()">Go to List</span></p>
                    </div>
                    <div class="row">
                        <div class="hover01 column" *ngIf="!messageSearch && !no_result">
                            <div class="arlicll" *ngFor="let video of videos">
                                <video width="300" height="200" class="video_hover">
                                    <source src="{{video.uri}}" type="video/{{video.format}}">
                                </video>
                                <span>
                             <ul class="icons_block">
                                <li>
                                    <i class="fa fa-eye" title="Show" data-toggle="modal" data-target="#myModal"
                                       (click)="open(video.id)"></i>
                                </li>
                                <li *ngIf="user_type === 'administrator' || user_type === 'editor'">
                                    <i class="fa fa-pencil" title="Edit" aria-hidden="true" data-toggle="modal"
                                       data-target="#myModal" (click)="openedit(video.id)"></i>
                                </li>
                                <li *ngIf="user_type === 'administrator'">
                                    <i class="fa fa-times" title="Delete" aria-hidden="true"
                                       (click)="deleteId(video.id)"></i>
                                </li>
                             </ul>
                            </span>
                                <i class="fa fa-play play_icon_video video_hover"
                                   data-toggle="modal" data-target="#myModal"
                                   (click)="openPlay(video.id)"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div *ngIf="!messageSearch">
                            <ul class="pagination" *ngIf="pagination.length !== 1 && this.no_result === false">
                                <li [ngClass]="{'disabled':paginDiss === 1}"><a
                                        (click)="last_first_page('first')"><<</a></li>
                                <li [ngClass]="{'disabled':paginDiss === 1}"><a
                                        (click)="prev_next('prev')"><</a></li>
                                <li *ngFor="let page of pagination"
                                    [ngClass]="{'active':paginDiss === page}"
                                >
                                    <a (click)="paginationData(page)">{{page}}</a>
                                </li>
                                <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a
                                        (click)="prev_next('next')">></a></li>
                                <li [ngClass]="{'disabled': paginDiss === this.lastPage}"><a
                                        (click)="last_first_page('last')">>></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.col-->
    </div><!--/.row-->
</div>

<div class="modal fade" id="myModal" (click)="stop_button()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="viewData == 'view' || viewData == 'play'">View</h4>
                <h4 class="modal-title" *ngIf="viewData == 'edit'">Video Edit</h4>
                <h4 class="modal-title" *ngIf="viewData == 'add'">New Video</h4>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="stop_button()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="viewData == 'add'">
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <form #form="ngForm" (ngSubmit)="add(form.value)" id="formadd">
                    <div class="form-group">
                        <label for="addname">Name</label>
                        <input type="text"
                               id="addname"
                               name="addname"
                               class="form-control"
                               #addname="ngModel"
                               placeholder="Your name.."
                               required
                               [(ngModel)]="addname.value"
                               minlength="1"
                               maxlength="255"
                               pattern="^[A-Za-z-_\s]+$"
                               autocomplete="off"
                        >
                        <span *ngIf="addname.invalid && (addname.dirty || addname.touched)">

          <span class="text-danger" *ngIf="addname.errors.required">
            Name is required.
          </span>
          <span class="text-danger" *ngIf="addname.errors.pattern">
            Invalid name
          </span>
          <span class="text-danger" *ngIf="addname.errors.minlength">
            Invalid Name length (min 1 symbol)
          </span>
        </span>
                    </div>
                    <div class="form-group">
                        <input
                                type="file"
                                id="selectFile"
                                name="selectFile"
                                class="form-control"
                                #image
                                (change)="valid($event)"
                        >
                        <p *ngIf="video_valid_messige === true" class="text-danger">Invalid video type <br><span>Sported types mp4/mov/avi/wmv</span>
                        </p>
                        <p *ngIf="video_size_valid === true" class="text-danger">Max size 50 Mb </p>
                    </div>
                    <div class="form-group">
                        <p>Status</p>
                        <label class="switch">
                            <input type="checkbox" name="addstatus" #addstatus="ngModel" [(ngModel)]="addstatus.value">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="button_block">
                        <button class="btn save btn-success button_style" [disabled]="form.invalid || video_valid!==true"
                                type="submit">
                            Create
                        </button>
                    </div>
                </form>

            </div>
            <div class="modal-body" *ngIf="viewData == 'view'">
                <div *ngIf="showVideo[0] == null" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngFor="let showVideo of showVideo">
                    <video width="320" height="240" controls="controls" class="video_size" id="stop">
                        <source src="{{showVideo.uri}}" type="video/{{showVideo.format}}">
                        <object data="video.swf" type="application/x-shockwave-flash">
                            <param name="movie" value="video.swf">
                        </object>
                    </video>
                    <div [@input_animations]="">
                    <div class="input_vew_margin form-group row">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn viw_Info_button disabled">Name</button>
                        </div>
                        <input disabled class="form-control form-control-sm" type="text"
                               value="{{showVideo.name}}">
                    </div>
                </div>
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Format</button>
                            </div>
                            <input disabled class="form-control form-control-sm" type="text"
                                   value="{{showVideo.format}}">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Duration</button>
                            </div>
                            <input disabled class="form-control form-control-sm" type="text"
                                   value="{{showVideo.duration}}">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row" *ngIf="showVideo.status === 1">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Status</button>
                            </div>
                            <input disabled type="text" class="form-control form-control-sm" value="Enabled">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row" *ngIf="showVideo.status === 0">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Status</button>
                            </div>
                            <input disabled type="text" class="form-control form-control-sm" value="Disabled">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Updated</button>
                            </div>
                            <input disabled type="text" class="form-control form-control-sm" value="{{showVideo.updated_at}}">
                        </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="modal-body" *ngIf="viewData == 'play'">
                <div *ngIf="showVideo[0] == null" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngFor="let showVideo of showVideo">
                    <video width="320" height="240" autoplay controls="controls" class="video_size" id="stop1">
                        <source src="{{showVideo.uri}}" type="video/{{showVideo.format}}">
                        <object data="video.swf" type="application/x-shockwave-flash">
                            <param name="movie" value="video.swf">
                        </object>
                    </video>
                </div>
            </div>

            <div class="modal-body" *ngIf="viewData == 'edit'">
                <div *ngIf="messageError_modal" class="alert alert-danger">{{messageError_modal}}</div>
                <div *ngIf="editcategories[0] == null" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngFor="let videos of editcategories">
                    <form #form="ngForm" (ngSubmit)="savebutton(form.value,videos.id)">
                        <div class="form-group">
                            <label for="editname">Name</label>
                            <input type="text"
                                   id="editname"
                                   name="editname"
                                   class="form-control"
                                   placeholder="Your name.."
                                   required
                                   [(ngModel)]="videos.name"
                                   #editname="ngModel"
                                   minlength="1"
                                   pattern="^[A-Za-z-_\s]+$"
                                   autocomplete="off"
                            >
                            <span *ngIf="editname.invalid && (editname.dirty || editname.touched)">

          <span class="text-danger" *ngIf="editname.errors.required">
            Name is required.
          </span>
          <span class="text-danger" *ngIf="editname.errors.pattern">
            Invalid name
          </span>
          <span class="text-danger" *ngIf="editname.errors.minlength">
            Invalid Name length (min 1 symbol)
          </span>
        </span>
                        </div>
                        <div class="form-group">
                            <input
                                    type="file"
                                    id="selecteditFile"
                                    name="selecteditFile"
                                    class="form-control"
                                    #image
                                    (change)="valid_edit($event)"
                            >
                            <p *ngIf="video_valid_messige === true" class="text-danger">Invalid video type <br><span>Sported types mp4/avi</span>
                            </p>
                            <p *ngIf="video_size_valid === true" class="text-danger">Max size 50 Mb </p>
                        </div>


                        <div>
                            <div class="form-group">
                                <p><b>Status</b></p>
                                <label class="switch" *ngIf="videos.status == 1">
                                    <input type="checkbox" checked name="editstatus" #editstatus="ngModel"
                                           [(ngModel)]="videos.status">
                                    <span class="slider round"></span>
                                </label>
                                <label class="switch" *ngIf="videos.status == 0">
                                    <input type="checkbox" name="editstatus" #editstatus="ngModel"
                                           [(ngModel)]="videos.status">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="button_block">
                            <button class="btn btn-primary update button_style" type="submit"
                                    [disabled]="form.invalid || video_valid">
                                Update
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>