<div *ngIf="!session || !language" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="loading" *ngIf="loader == ''">Loading&#8230;</div>
<div class="animated fadeIn" *ngIf="session && language">
    <div class="alert alert-danger" *ngIf="error">
        {{error}}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <ol class="breadcrumb">
                        <li><a [routerLink]="['/dashboard']"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                        <li *ngIf="sesions_type == 'make_up_by_product'"><a [routerLink]="['/components/sessions']">Sessions</a>
                        </li>
                        <li *ngIf="sesions_type == 'make_up_by_style'"><a [routerLink]="['/components/style-sessions']">Style
                            Sessions</a></li>
                        <li>Video</li>
                    </ol>
                </div>
                <div class="box-body">
                    <div class="viewSession">
                        <ul class="nav nav-tabs">
                            <li class="imagelang" *ngFor="let lang of language, let i = index"
                                [ngClass]="{'active':i === 0}"><a (click)="tabs_()"
                                    data-toggle="tab" class="tab_button" href="#name{{i}}">{{lang.name}} <img
                                    src="{{lang.image.uri}}" alt="{{lang.name}}"></a></li>
                        </ul>
                        <div class="tab-content">
                            <div [@tabsRtigger]="tabs" *ngFor="let lang of language, let i = index" id="name{{i}}" class="tab-pane fade"
                                 [ngClass]="{'in active':i === 0}">
                                <h4 class="h4_info"><b>Name: </b>{{session.translation[i] === undefined ? '' :
                                    session.translation[i].name}}</h4>
                            </div>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="imagelang" *ngFor="let lang of language, let i = index"
                                [ngClass]="{'active':i === 0}"><a (click)="tab_description()"
                                    data-toggle="tab" class="tab_button" href="#description{{i}}">{{lang.name}} <img
                                    src="{{lang.image.uri}}" alt="{{lang.name}}"></a></li>
                        </ul>

                        <div class="tab-content">
                            <div [@tabsdescription]="tabs_description" *ngFor="let lang of language, let i = index" id="description{{i}}"
                                 class="tab-pane fade"
                                 [ngClass]="{'in active':i === 0}">
                                <h4 class="h4_info"><b>Description: </b>{{session.translation[i] === undefined ? '' :
                                    session.translation[i].description}}</h4>
                            </div>
                        </div>
                        <h4 class="h4_info" *ngIf="session.status == 1"><strong>Status:</strong> Enabled</h4>
                        <h4 class="h4_info" *ngIf="session.status == 0"><strong>Status:</strong> Disabled</h4>
                        <h4 class="h4_info"><strong>PlayList Id:</strong> {{session.play_list_id}}</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-4" *ngFor="let playlist of session.play_list">
                            <div class="thumbnail">
                                <div class="position">
                                    <video height="240" class="video_size">
                                        <source src="{{playlist.movie.uri}}">
                                    </video>
                                    <div class="play_icon">
                                        <div class="cursor-pointer" data-toggle="modal" data-target="#myModal"
                                             (click)="view_video(playlist.movie.id)">
                                            <span>{{playlist.ordering}} Play </span>
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" (click)="stop_button()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Video View</h4>
                <button type="button" class="close" aria-label="Close" data-dismiss="modal"
                        (click)="stop_button()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" *ngIf="viewdata == 'view'">
                <div *ngIf="objlength == 0" class="cssload-thecube cssload-thecubemodal">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div *ngIf="objlength > 0">
                    <video width="320" height="240" controls="controls" class="video_size" id="stop">
                        <source src="{{video.uri}}" type="video/{{video.format}}">
                        <object data="video.swf" type="application/x-shockwave-flash">

                            <param name="movie" value="video.swf">
                        </object>
                    </video>
                    <div [@input_animations]="">
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Name</button>
                            </div>
                            <input disabled class="form-control form-control-sm" type="text"
                                   value="{{video.name}}">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Uri</button>
                            </div>
                            <input disabled class="form-control form-control-sm" type="text"
                                   value="{{video.uri}}">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Format</button>
                            </div>
                            <input disabled class="form-control form-control-sm" type="text"
                                   value="{{video.format}}">
                        </div>
                    </div>
                    <div class="input_vew_margin form-group row">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn viw_Info_button disabled">Duration</button>
                            </div>
                            <input disabled class="form-control form-control-sm" type="text"
                                   value="{{video.duration}}">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>