<div class="login-background">
    <div class="login_imirror">

    </div>
    <div class="form-block">
        <div *ngIf="error" class="alert alert-danger alert_login text-center">{{error}}</div>
        <h1 class="text-center login_title">Login</h1>
        <p class="text-muted text-center">Sign In to your account</p>
        <form #form="ngForm" (ngSubmit)="onLogin()">
            <div class="form-group">
            <input type="email"
                   class="form-control login_form"
                   placeholder="Username"
                   id="email"
                   name="email"
                   [(ngModel)]="user.username"
                   #email="ngModel"
                   pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                   required
            >
                <span *ngIf="email.invalid && (email.dirty || email.touched)" class="error_block">
            <span class="text-danger" *ngIf="email.errors.required">
            Email is required.
            </span>
                     <span class="text-danger" *ngIf="email.errors.pattern">
            Email is invalid.
          </span>
            </span>
            </div>
            <div class="form-group">
            <input type="password"
                   class="form-control login_form"
                   id="password"
                   placeholder="Password"
                   name="password"
                   [(ngModel)]="user.password"
                   #password="ngModel"
                   minlength="4"
                   required
            >
                <span *ngIf="password.invalid && (password.dirty || password.touched)" class="error_block">
            <span class="text-danger" *ngIf="password.errors.required">
            Password is required.
            </span>
            <span class="text-danger" *ngIf="password.errors.minlength">
            Password must be at least 4 characters long.
            </span>
            </span>
            </div>
            <div class="form-group text-center">
            <button [disabled]="form.invalid" type="submit" class="btn btn-primary text-center">
            Log in
            </button>
            </div>
        </form>
    </div>
</div>








<!--<div class="app flex-row align-items-center">-->
  <!--<div class="container">-->
    <!--<div class="row justify-content-center">-->
      <!--<div class="col-md-8">-->
        <!--<div class="card-group mb-0">-->
          <!--<div class="card p-4">-->
            <!--<div class="card-body">-->
                <!--<div *ngIf="error" class="alert alert-danger">{{error}}</div>-->
              <!--<h1>Login</h1>-->
              <!--<p class="text-muted">Sign In to your account</p>-->
                <!--<form #form="ngForm" (ngSubmit)="onLogin()">-->
              <!--<div class="input-group">-->
                <!--<span class="input-group-addon">-->
                  <!--<i class="fa fa-user-o" aria-hidden="true"></i>-->
                <!--</span>-->
                <!--<input-->
                    <!--type="text"-->
                    <!--class="form-control"-->
                    <!--placeholder="Username"-->
                    <!--id="email"-->
                    <!--name="email"-->
                    <!--[(ngModel)]="user.username"-->
                    <!--#email="ngModel"-->
                    <!--required-->
                <!--&gt;-->
              <!--</div>-->
                    <!--<span *ngIf="email.invalid && (email.dirty || email.touched)">-->
                      <!--<span class="text-danger" *ngIf="email.errors.required">-->
                        <!--Name is required.-->
                      <!--</span>-->
                    <!--</span>-->
              <!--<div class="input-group">-->
                <!--<span class="input-group-addon">-->
                  <!--<i class="fa fa-lock" aria-hidden="true"></i>-->
                <!--</span>-->
                <!--<input type="password"-->
                       <!--class="form-control"-->
                       <!--id="password"-->
                       <!--placeholder="Password"-->
                       <!--name="password"-->
                       <!--[(ngModel)]="user.password"-->
                       <!--#password="ngModel"-->
                       <!--minlength="4"-->
                       <!--required-->
                <!--&gt;-->
              <!--</div>-->
                    <!--<span *ngIf="password.invalid && (password.dirty || password.touched)">-->
                      <!--<span class="text-danger" *ngIf="password.errors.required">-->
                          <!--Password is required.-->
                      <!--</span>-->
                      <!--<span class="text-danger" *ngIf="password.errors.minlength">-->
                          <!--Password must be at least 4 characters long.-->
                      <!--</span>-->
                    <!--</span>-->
                    <!--<div class="row">-->
                        <!--<div class="col-6" style="margin-top: 8px;">-->
                            <!--<button [disabled]="form.invalid" type="submit" class="btn btn-primary px-4">-->
                                <!--Log in-->
                            <!--</button>-->
                        <!--</div>-->
                        <!--<div class="col-6 text-right">-->
                            <!--<button type="button" class="btn btn-link px-0">-->
                                <!--Forgot password?-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="card text-white bg-primary py-5 d-md-down-none"-->
               <!--style="width:44%">-->
            <!--<div class="card-body text-center">-->
              <!--<div>-->
                <!--<h2>Sign up</h2>-->
                <!--<a class="btn btn-primary active mt-3" routerLink="/signup"-->
                     <!--(click)="onLogin()"> Log in-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


