<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row text-center">
      <div class="">
        <div class="clearfix">
          <h1 class="float-left display-3 mr-4">404 <span style="font-size: 25px">Oops! You're lost.</span></h1>
          <p class="text-muted">The page you are looking for was not found.</p>
        </div>
      </div>
        <div class="push-md-1">
            <p class="lead">
                <a class="btn btn-outline-primary btn-lg btn-block error404"
                routerLink='/'>Restart
                </a>
            </p>
        </div>
    </div>
  </div>
</div>