<ol class="breadcrumb">
    <li><i class="fa fa-dashboard"></i> Dashboard</li>
</ol>
<div *ngIf="chartData_bool === false" class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
</div>
<div class="animated fadeIn" *ngIf="chartData_bool === true">
    <div class="row">
        <div class="col-md-12" style="margin-bottom: 20px">
            <div class="col-md-6 col-sm-12  text-center">
                <p class="text-center" style="font-size: 20px"><b>Product and style count</b></p>
                <canvas
                        baseChart
                        [chartType]="'bar'"
                        [datasets]="chartData3"
                        [labels]="chartLabels3"
                        [options]="chartOptions3"
                        [legend]="true"
                        [colors]="myColors"
                        (chartClick)="onChartClick3($event)">
                </canvas>
            </div>


            <div class="col-md-6 col-sm-12">
                <p class="text-center" style="font-size: 20px"><b>Device update</b></p>
                <canvas
                        baseChart
                        [chartType]="'line'"
                        [datasets]="chartData2"
                        [labels]="chartLabels2"
                        [options]="chartOptions2"
                        [legend]="true"
                        [colors]="myColors2"
                        (chartClick)="onChartClick2($event)">
                </canvas>
            </div>
        </div>
        <div class="col-md-12">

            <div class="col-md-6 col-sm-12">
                <p class="text-center" style="font-size: 20px"><b>Device count in month</b></p>
                <canvas
                        baseChart
                        [chartType]="'pie'"
                        [datasets]="chartData"
                        [labels]="chartLabels"
                        [options]="chartOptions"
                        [legend]="true"
                        [colors]="myColors3"
                        (chartClick)="onChartClick($event)">
                </canvas>
            </div>
        </div>
    </div>
</div>